section {
  max-width: 48rem;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-family: "LT Cushion";
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.1;
}

h4 {
  font-family: "TT Fors";
  font-size: 0.75rem;
  font-weight: 450;
  text-transform: uppercase;
  color: var(--color-text-tertiary);
  margin-bottom: 0.3rem;
}

p {
  margin-bottom: 0.9rem;
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
  position: relative;
  transition: 100ms ease;
  pointer-events: auto;
}

a:hover {
  color: var(--color-text-main);
}

figcaption {
  color: var(--color-text-secondary);
  margin-top: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.4;
}

ul {
  list-style: square;
}

li {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.em {
  font-weight: 650;
}

.figure-small {
  max-width: 36rem;
}

.image-gallery-grid {
  max-width: 84rem;
}

.result-highlight {
  font-family: "LT Cushion";
  font-weight: 300;
  font-size: 2rem;
}

.tip {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem 2.8rem;
  font-size: 0.9rem;
  color: rgba(99, 99, 99, 1);
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
}

.tip-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
