<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Ray Xia's Project Showcase</title>
  </head>
  <body>
    <h1>About</h1>
    <a href="/">Home</a>
<a href="/about/">About</a>
  </body>
</html>