---
import GalleryLayout from "../layouts/GalleryLayout.astro";
import ProjectContainer from "../components/ProjectContainer.astro";
import Accordion from "../components/z-Accordion.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
// import "../scripts/accordion.js";

const pageTitle = "Home";
---

<!-- <div id="follow">
	<img
		src="https://pbs.twimg.com/media/FhNJ_c5aMAIrlLR?format=jpg&name=900x900"
	/><br />
</div> -->
<GalleryLayout pageTitle={pageTitle}>
	<main>
		<ProjectContainer />
	</main>
</GalleryLayout>

<!-- from codepen -->
<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script is:inline>
	console.log("inline-js loaded");
	const img = document.querySelector("#follow");
	const height = img.offsetHeight;
	const width = img.offsetWidth;

	$(document).mousemove(function (e) {
		$("#follow").css({
			left: `${e.pageX - width / 2}px`,
			top: `${e.pageY - height / 2}px`,
		});
	});
</script>

<style>
	#follow {
		position: absolute;
		text-align: center;
		pointer-events: none;
		z-index: 99;
	}

	img {
		width: 30vw;
		object-fit: cover;
	}
</style>
