---
import GalleryLayout from "../layouts/GalleryLayout.astro";
import ProjectContainer from "../components/ProjectContainer.astro";

// import { Image } from "astro:assets";
// import type { ImageMetadata } from 'astro';
// const images = await import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
// const { imgPath } = Astro.props;

const pageTitle = "Home";
---

<GalleryLayout pageTitle={pageTitle}>
  <main>
    <ProjectContainer />
  </main>
</GalleryLayout>

<style>
  #hero-content {
    font-family: "LT Cushion";
    font-weight: 375;
    font-size: 1.4rem;
    padding-left: 1.6rem;
  }
</style>
