---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectContainer from "../components/ProjectContainer.astro";
import Accordion from "../components/Accordion.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const pageTitle = "Home";
---

	<BaseLayout pageTitle={pageTitle}>
		<main>
			<ProjectContainer />
		</main>
	</BaseLayout>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
