---
const socialLinks = [
  {
    text: "Resume",
    href: "/about#resume",
  },
  {
    text: "GitHub",
    href: "https://github.com/xiatiantian24",
  },
  {
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/xray24/",
  },
];
---

<footer class="w-full mx-auto pt-8 pb-10">
  <div
    class:list={[
      " flex flex-col gap-4",
      {
        "sm:flex-row-reverse sm:justify-between sm:items-center":
          socialLinks.length > 0,
      },
    ]}
  >
    {
      socialLinks.length > 0 && (
        <div class="flex gap-4 md:gap-8 text-sm">
                     
          {socialLinks.map((link) => (
            <a
              class="text-sm p-1"
              href={link.href}
              target="_blank"
              rel="noopener noreferer"
            >
              <span>{link.text}</span>
              <span class="slider" />
            </a>
          ))}
        </div>
      )
    }
    <div class="copy-right">
      &copy; {new Date().getFullYear()}.&nbsp; Ray Xia.
    </div>
  </div>
</footer>

<style>
  footer {
    font-family: "TT Fors";
    padding: 1.8rem 1rem 1rem;
  }

  a {
    text-transform: uppercase;
    border-bottom: solid transparent 1.5px;
    position: relative;
  }

  .copy-right {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transform: scaleY(0.95);
  }

  a:before {
    content: "";
    width: 0;
    height: 1.5px;
    background: var(--color-border-secondary);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;
  }

  a:hover:before {
    width: 100%;
  }

  .slider {
    position: absolute;
    display: block;
    left: 0;
    top: 90%;
    margin: 0 auto;
    height: 1.5px;
    background-color: var(--color-border-secondary);
    width: 0%;
    transition: width 0.2s ease;
  }
</style>
