---
const socialLinks = [
  {
    text: "Resume",
    href: "/about",
  },
  {
    text: "GitHub",
    href: "https://github.com/xiatiantian24",
  },
  {
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/xray24/",
  },
];
---

<footer class="w-full mx-auto pt-8 pb-10">
  <div
    class:list={[
      " flex flex-col gap-4",
      {
        "sm:flex-row-reverse sm:justify-between sm:items-center":
          socialLinks.length > 0,
      },
    ]}
  >
    {
      socialLinks.length > 0 && (
        <div class="flex gap-4 md:gap-8 text-sm">
          {socialLinks.map((link) => (
            <a
              class="inline-flex items-center justify-center text-sm p-2"
              href={link.href}
              target="_blank"
              rel="noopener noreferer"
            >
              {link.text}
            </a>
          ))}
        </div>
      )
    }
    <div class="copy-right">
      &copy; {new Date().getFullYear()}.&nbsp; Ray Xia.
    </div>
  </div>
</footer>

<style>
  footer {
    font-family: "TT Fors";
    padding: 7.8rem 2rem 1rem;
  }

  a {
    text-transform: uppercase;
  }

  .copy-right {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transform: scaleY(0.95);
  }
</style>
