---

---

<nav class="sticky top-0">
    <p>test</p>
    <ul class="menu flex gap-4 md:gap-8 text-sm">
        <li class=""><a href="/" class="py-2 hover:">Projects</a></li>
        <li class=""><a href="/experiments/" class="py-2 hover:">Experiments</a></li>
        <li class=""><a href="/about/" class="py-2 hover:">About</a></li>
    </ul>
    <p>Mode</p>
</nav>

<style>
    nav {
        font-family: "TT Fors";
        /* left: auto;
        right: auto; */
        /* position: fixed; */
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-bg-main);
        width: 100%;
        padding: 0.8rem 0 1.5rem;
        /* border-bottom: 1.5px solid rgb(199, 199, 199); */
    }
    ul {
        justify-content: flex-end;
    }
    li {
        text-transform: uppercase;
    }

</style>
