---

---

<nav>
    <p>test</p>
    <ul class="menu flex gap-6">
        <li class="py-1"><a href="/">Projects</a></li>
        <li class="py-1"><a href="/experiments/">Experiments</a></li>
        <li class="py-1"><a href="/about/">About</a></li>
    </ul>
</nav>

<style>
    nav {
        font-family: "TT Fors";
        top: 0;
        left: auto;
        right: auto;
        position: fixed;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-bg-main);
        width: 100%;
        max-width: 50rem;
        padding: 2rem;
    }
    ul {
        justify-content: flex-end;
    }
    li {
        text-transform: uppercase;
        font-size: 1rem;
    }
</style>
