---
import SideBar from "../components/SideBar.astro";
import ProjectLink from "../components/ProjectLink.astro";
import Accordion from "../components/Accordion.astro";
import AccordionNew from "../components/AccordionNew.astro";
---

<div class="scroll-container flex flex-col w-full">
    <!-- <SideBar /> -->
    <div
        class="category flex flex-col md:flex-row w-full relative gap-2 md:gap-2"
    >
        <div class="category-label">
            <div class="sticky top-28">
                <p>UX/UI</p>
            </div>
        </div>
        <AccordionNew />
    </div>
    <div
        class="category flex flex-col md:flex-row w-full relative gap-2 md:gap-2"
    >
        <div class="category-label">
            <div class="sticky pt-8 top-20">
                <p>Web</p>
            </div>
        </div>
        <AccordionNew />
    </div>
    <div
        class="category flex flex-col md:flex-row w-full relative gap-2 md:gap-2"
    >
        <div class="category-label">
            <div class="sticky pt-8 top-20">
                <p>Inter-<br />action</p>
            </div>
        </div>
        <AccordionNew />
    </div>

    <div class="wrap w-full relative">
        <div class="category snap-end" id="ux"><Accordion /></div>
        <div class="category snap-end" id="web"><Accordion /></div>
        <div class="category snap-end" id="ixd"><Accordion /></div>
    </div>

    <!-- snap-y snap-mandatory overflow-y-auto no-scrollbar -->

    <!-- <div class="js-scroll">
        <div class="scrollwrap" id="ux">
            <div class="max-width-container">
                <div class="text-wrap">
                    <h3>The History</h3>
                    <p>
                        Learn how the idea of zero was thought about in Babylon,
                        India, and other cultures at different times.
                    </p>
                    <a class="button" href="history.html">Learn More</a>
                </div>
            </div>
        </div>
        <div class="scrollwrap" id="web">
            <div class="max-width-container">
                <div class="text-wrap">
                    <h3>The Symbols</h3>
                    <p>
                        The modern numerical zero is usually written as a circle
                        or ellipse. Learn how zero is written in many other
                        forms.
                    </p>
                    <a class="button" href="symbols.html">Learn More</a>
                </div>
            </div>
        </div>
        <div class="scrollwrap" id="ixd"
            <div class="max-width-container">
                <div class="text-wrap">
                    <h3>Math + Science</h3>
                    <p>
                        Zero is a number which means an amount of null size.
                        Learn more about how it is used in math and other fields
                        of science.
                    </p>
                    <a class="button" href="math-science.html">Learn More</a>
                </div>
            </div>
        </div> -->
</div>

<style>
    .category {
        height: max-content;
        /* min-height: 36rem; */
        /* height: 36rem; */
        border-top: 1px solid black;
    }
    .category-label {
        font-family: "TT Fors";
        font-size: 3.25rem;
        font-weight: 800;
        width: 16rem;
        line-height: 0.9;
        word-wrap: break-word;
        text-transform: uppercase;
    }
    .scroll-container {
        margin-top: 1rem;
    }
    .wrap {
        /* min-height: 36rem; */
        /* height: 85vh; */
    }
    p {
        padding-bottom: 1rem;
    }
    /* .scroll-container {
            position: relative;
        }
        .max-width-container {
            height: 100%;
        }

        .scrollwrap {
            height: 200vh;
            justify-content: center;
            align-items: center;
        }

        h3 {
            margin: 0;
            padding: 0;
            padding-top: 160px;
            color: rgb(81, 69, 69);
            font-family: "Playfair Display", serif;
            font-size: 90px;
        }

        .scrollwrap .text-wrap {
            position: sticky;
            top: 60vh;
            padding-bottom: 12rem;
        } */
</style>
