---
import SideBar from "./z-SideBar.astro";
import ProjectButton from "../components/ProjectButton.astro";
---

<div class="scroll-container flex flex-col w-full">
    <div
        class="category flex flex-col md:flex-row w-full relative gap-0 md:gap-0"
    >
        <div class="category-label pl-1">
            <div class="sticky top-24">
                <a href="#uxui"><p>UX/UI</p></a>
            </div>
        </div>
        <div class="project-wrap" id="uxui">
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href="/projects/cubbie/"
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
        </div>
    </div>
    <div class="category flex flex-col md:flex-row w-full relative">
        <div class="category-label pl-1">
            <div class="sticky pt-8 top-16">
                <a href="#web"><p>Web</p></a>
            </div>
        </div>
        <div class="project-wrap" id="web">
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
        </div>
    </div>
    <div class="category flex flex-col md:flex-row w-full relative">
        <div class="category-label pl-1">
            <div class="sticky pt-8 top-16">
                <a href="#ixd"> <p>Inter<br />action</p></a>
            </div>
        </div>
        <div class="project-wrap" id="ixd">
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
            <ProjectButton
                title="Priya"
                description="Flexible Scheduling App & Virtual Nursing sdfjaskjdfbsivjsiuv sfuhadf sGS"
                scopes={["UX/UI Design", "User Research", "Brand Design"]}
                href=""
                imgPath="../assets/test.png"
                altText="A headshot of Priya against a brick wall background."
            />
        </div>
    </div>

    <!-- <div class="wrap w-full relative">
        <div class="category snap-end" id="ux"><Accordion /></div>
        <div class="category snap-end" id="web"><Accordion /></div>
        <div class="category snap-end" id="ixd"><Accordion /></div>
    </div> -->

    <!-- snap-y snap-mandatory overflow-y-auto no-scrollbar -->

</div>

<style>
    .category {
        height: max-content;
        /* min-height: 36rem; */
        /* height: 36rem; */
    }
    .category-label {
        font-family: "TT Fors";
        font-size: clamp(2.5rem, 4vw, 3.2rem);
        font-weight: 600;
        font-style: italic;
        letter-spacing: -0.025em;
        width: 15.25rem;
        line-height: 0.9;
        text-transform: uppercase;
        /* border-bottom: 1.5px solid var(--color-border-secondary); */
    }

    @media (min-width: 768px) {
        .category-label {
             border-bottom: 1.5px solid var(--color-border-secondary);
        }
    }

    .project-wrap {
        width: 100%;
    }
    p {
        padding-bottom: 1rem;
        max-width: 12.25rem;
    }
    /* .scroll-container {
            position: relative;
        }
        .max-width-container {
            height: 100%;
        }

        .scrollwrap {
            height: 200vh;
            justify-content: center;
            align-items: center;
        }

        h3 {
            margin: 0;
            padding: 0;
            padding-top: 160px;
            color: rgb(81, 69, 69);
            font-family: "Playfair Display", serif;
            font-size: 90px;
        }

        .scrollwrap .text-wrap {
            position: sticky;
            top: 60vh;
            padding-bottom: 12rem;
        } */
</style>
