---
import ProjectButton from "../components/ProjectButton.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="w-full px-4 py-4" id="hero">
  <div class="hero-grid h-full">
    <div class="hero-top-left">
      <div class="hero-top-left-content">
        <div class="hero-header-right" id="hero-role">Product Designer</div>
        <div class="hero-header-right" id="hero-location">
          Based in San Francisco
        </div>
        <div class="hero-logo-left">
          <img src="/svgs/ray.svg" alt="Ray" class="ray-logo" />
        </div>
      </div>
    </div>
    <div class="hero-top-middle">
      <img
        src="/images/about/profile-pic.jpg"
        alt="Profile picture"
        class="hero-profile-pic"
      />
    </div>
    <div class="hero-top-right">
      <div class="hero-top-right-content">
        <div class="hero-top-right-grid">
          <div class="hero-top-right-col1"></div>
          <div class="hero-top-right-col2">
            <div class="hero-logo-right">
              <img src="/svgs/xia.svg" alt="Xia" class="xia-logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-bottom-left">
      <div class="hero-bottom-left-text">
        I specialize in human-AI collaboration for enterprise teams, with a
        systematic approach to multi-product ecosystems and frontend engineering
        skills that turn design into delivery fast.
      </div>
    </div>
    <div class="hero-bottom-middle"></div>
    <div class="hero-bottom-right">
      <div class="hero-bottom-right-grid">
        <div class="hero-bottom-right-col1">
          <div class="hero-bottom-right-col1-content">Prev.</div>
        </div>
        <div class="hero-bottom-right-col2">
          <div class="hero-text-content">
            <div class="experience-item">
              <span class="org-name">CARNEGIE MELLON UNIV.</span> Lead Product Designer
            </div>
            <div class="experience-item">
              <span class="org-name">BJC HEALTHCARE</span> UX Designer
            </div>
            <div class="experience-item">
              <span class="org-name">RULAI, INC.</span> UX Designer & Engineer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div
  class="category flex flex-col md:flex-row w-full px-4 relative gap-0"
  id="projects"
>
  <!-- <div class="category-label">
    <div class="sticky top-24 pt-10">
      <a href="#product-and-experience"><div>Product & Experience</div></a>
    </div>
  </div> -->
  <div class="project-wrap" id="product-and-experience">
    <ProjectButton
      title="Streamliming shift scheduling for nurses"
      description="BJC HealthCare"
      scopes={["Internship", "UX & UI Design", "2023-2024"]}
      href="/projects/bjc-flexible-scheduling"
      mediaType="image"
      imgPath="../assets/images/bjc-cover-flex.jpg"
      altText="Cover image for the BJC Virtual Nursing project"
    />
    <ProjectButton
      title="What nurses need to work virtually"
      description="BJC HealthCare"
      scopes={["Internship", "UX Research", "2023-2024"]}
      href="/projects/bjc-virtual-nursing"
      mediaType="image"
      imgPath="../assets/images/bjc-cover-main.jpg"
      altText="Cover image for the BJC Virtual Nursing project"
    />
    <ProjectButton
      title="Personalizing virtual assistant demos"
      description="Rulai, Inc."
      scopes={["Internship", "Solution Engineer", "2022"]}
      href="/projects/rulai"
      mediaType="image"
      imgPath="../assets/images/rulai-cover.jpg"
      altText="Cover image for the Rulai project"
    />
    <ProjectButton
      title="The Path"
      description="B.F.A. Capstone Project"
      scopes={[
        "Academic",
        "UX Design",
        "Interaction Design",
        "UX Research",
        "2024",
      ]}
      href="/projects/the-path"
      mediaType="video"
      videoSrc="/videos/covers/the-path-cover-video.mp4"
      altText="Cover video for the Path project"
    />
  </div>
</div>
<!-- <div class="category flex flex-col md:flex-row w-full pl-4 relative">
  <div class="category-label">
    <div class="sticky pt-8 top-16">
      <a href="#motion"><div>Motion</div></a>
    </div>
  </div>
  <div class="project-wrap" id="motion">
    <ProjectButton
      title="pipe type"
      description="A Creative Experiment"
      scopes={["Academic", "Interaction Design", "UI Development", "2024"]}
      mediaType="video"
      href="/projects/pipe-type"
      videoSrc="/videos/covers/pipe-cover-video.mp4"
      altText="Cover video for the Pipe Type project"
    />
    <ProjectButton
      title="how cities breathe"
      description="A Creative Experiment"
      scopes={["Academic", "Interaction Design", "UI Development", "2023"]}
      mediaType="video"
      href="/projects/how-cities-breathe"
      videoSrc="/videos/covers/cities-cover-video.mp4"
      altText="Cover video for the How Fast the Wind Blows project"
    />
  </div>
</div> -->

<script>
  document.addEventListener("astro:page-load", () => {
    //Cursor following effect for hero section
    function navHoverEffect(buttonId, targetId) {
      const button = document.querySelector(buttonId) as HTMLElement;
      const target = document.querySelector(targetId) as HTMLElement;

      if (button !== null && target !== null) {
        function follow(e) {
          const offsetX = -24;
          const offsetY = -1 * target.offsetHeight;
          target.style.left = `${e.pageX + offsetX}px`;
          target.style.top = `${e.pageY - window.scrollY + offsetY}px`;
        }

        target.style.transition =
          "filter 200ms ease-out, visibility 100ms linear, opacity 200ms linear";
        target.style.filter = "saturate(0%) contrast(50%)";
        button.style.transform = "translate(0, 0)";
        button.style.transition = "transform 400ms ease-out";
        target.style.opacity = "0";

        button.addEventListener("mouseenter", () => {
          target.style.display = "block";
          target.style.visibility = "visible";
          setTimeout(() => {
            target.style.filter = "saturate(100%) contrast(100%)";
            target.style.opacity = "1";
          }, 0.2);
          document.addEventListener("mousemove", follow);
        });

        button.addEventListener("mouseleave", () => {
          target.style.display = "none";
          target.style.visibility = "hidden";
          setTimeout(() => {
            target.style.filter = "saturate(0%) contrast(50%)";
            target.style.opacity = "0";
          }, 0.2);
        });
      }
    }

    // Dark mode SVG switcher
    function updateLogoForTheme() {
      const rayLogo = document.querySelector(".ray-logo") as HTMLImageElement;
      const xiaLogo = document.querySelector(".xia-logo") as HTMLImageElement;
      const isDarkMode = document.documentElement.classList.contains("dark");

      if (rayLogo) {
        rayLogo.src = isDarkMode ? "/svgs/ray-dark.svg" : "/svgs/ray.svg";
      }

      if (xiaLogo) {
        xiaLogo.src = isDarkMode ? "/svgs/xia-dark.svg" : "/svgs/xia.svg";
      }
    }

    // Initial logo update
    updateLogoForTheme();

    // Watch for theme changes
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (
          mutation.type === "attributes" &&
          mutation.attributeName === "class"
        ) {
          updateLogoForTheme();
        }
      });
    });

    // Start observing the document element for class changes
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });

    navHoverEffect("#profile-img", "#about-btn");
    navHoverEffect("#project-nav", "#project-btn");
  });
</script>

<style>
  a {
    border-bottom: 1.5px solid var(--color-border-secondary);
  }

  a:hover {
    border-bottom: 1.5px solid var(--color-border-main);
  }

  .project-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10vh;
    /* row-gap: 40px; */
  }

  .category {
    height: max-content;
  }

  .category-label {
    /* font-family: "TT Fors"; */
    font-family: "Figtree";
    font-size: 1.2rem;
    transition: all 250ms ease-in-out;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.025em;
    line-height: 0.9;
    color: var(--color-text-secondary);
  }

  .img-wrap {
    position: fixed;
    text-align: center;
    display: none;
    z-index: 1000;
    pointer-events: none;
    width: 12rem;
  }

  #about-btn {
    width: 10rem;
  }

  #hero {
    font-family: "LT Cushion";
    font-weight: 375;
    font-size: 1.2rem;
    transition: all 250ms ease-in-out;
    overflow: hidden;
  }

  .hero-grid {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 4fr 3fr;
    grid-template-areas:
      "middle middle"
      "left right"
      "left-text left-text"
      "right-text right-text";
  }

  .hero-top-middle {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-top-left {
    grid-area: left;
  }

  .hero-top-right {
    grid-area: right;
  }

  .hero-bottom-left {
    grid-area: left-text;
  }

  .hero-bottom-middle {
    grid-area: left-text;
    grid-column: 1 / -1;
  }

  .hero-bottom-right {
    grid-area: right-text;
  }

  .hero-top-left,
  .hero-top-middle,
  .hero-top-right {
    width: 100%;
  }

  .hero-top-left {
    overflow: visible;
    position: relative;
    z-index: 10;
  }

  .hero-top-left-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .hero-header-right {
    text-align: left;
    font-family: "Figtree";
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-accent);
  }

  #hero-location {
    font-size: 0.95rem;
    font-weight: 350;
    color: var(--color-text-main);
    padding-bottom: 1rem;
  }

  .hero-logo-left {
    text-align: left;
    overflow: visible;
  }

  .ray-logo {
    height: 15vw;
    width: auto;
    max-width: none;
    transform-origin: left center;
  }

  .hero-profile-pic {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
    padding: 0.5rem 0;
  }

  .hero-top-right {
    overflow: visible;
    position: relative;
    z-index: 10;
  }

  .hero-top-right-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 3.5rem;
    padding-top: 6rem;
  }

  .hero-top-right-grid {
    display: block;
    width: 100%;
  }

  .hero-top-right-col1 {
    width: 3rem;
  }

  .hero-top-right-col2 {
    width: 100%;
  }

  .hero-logo-right {
    text-align: right;
    overflow: visible;
  }

  .xia-logo {
    height: 15vw;
    width: auto;
    max-width: none;
    transform-origin: right center;
  }

  .hero-text-content {
    width: 100%;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-text-main);
  }

  .hero-bottom-left-text {
    width: 100%;
    max-width: 475px;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-text-main);
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .hero-bottom-right-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 6rem 1fr;
    font-family: "Figtree";
    font-size: 0.8rem;
    line-height: 1.4;
  }

  .hero-bottom-right-col2 {
    width: 100%;
  }

  .experience-item {
    font-size: 0.8rem;
    color: var(--color-text-main);
    padding-bottom: 0.35rem;
    font-weight: 400;
  }

  .experience-item:last-child {
    padding-bottom: 0;
  }

  .org-name {
    font-weight: 300;
    padding-right: 0.25rem;
  }

  #project-nav {
    height: 100%;
    margin-top: 2rem;
  }

  #profile-wrap,
  #profil-wrap:hover,
  #project-nav,
  #project-nav:hover {
    border-bottom: none;
  }

  #link-to-projects {
    /* font-family: "TT Fors"; */
    font-family: "Figtree";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 10vh;
    border: none;
  }

  #link-to-projects svg {
    width: 20px;
    display: inline;
    fill: var(--color-text-main);
  }

  @media (min-width: 640px) {
    .category-label {
      border-bottom: 1.5px solid var(--color-border-secondary);
      width: 8rem;
    }

    .profile-container {
      left: 8vw;
    }

    #profile-img {
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .hero-grid {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "middle middle"
        "left right"
        "left-text right-text";
    }

    .hero-top-left,
    .hero-top-middle,
    .hero-top-right {
      width: 100%;
    }

    .hero-top-left {
      overflow: visible;
      position: relative;
      z-index: 10;
    }

    .hero-top-left-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      padding-top: 1rem;
    }

    .hero-header-right {
      text-align: left;
      font-family: "Figtree";
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 600;
      color: var(--color-accent);
    }

    #hero-location {
      font-size: 0.9rem;
      font-weight: 350;
      color: var(--color-text-main);
      padding-bottom: 1.5rem;
    }

    .hero-logo-left {
      text-align: left;
      overflow: visible;
    }

    .ray-logo {
      height: 15vw;
      width: auto;
      max-width: none;
      transform-origin: left center;
    }

    .hero-profile-pic {
      width: 55%;
      height: 60vh;
      object-fit: cover;
      display: block;
      padding: 0.5rem 0;
    }

    .hero-top-right {
      overflow: visible;
      position: relative;
      z-index: 10;
    }

    .hero-top-right-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding-bottom: 2.5rem;
      padding-top: 10rem;
    }

    .hero-top-right-grid {
      display: grid;
      grid-template-columns: 6.5vw 1fr;
      gap: 0;
      width: 100%;
    }

    .hero-top-right-col1 {
      width: 6.5vw;
    }

    .hero-top-right-col2 {
      width: 100%;
    }

    .hero-logo-right {
      text-align: right;
      overflow: visible;
    }

    .xia-logo {
      height: 15vw;
      width: auto;
      max-width: none;
      transform-origin: right center;
    }

    .hero-top-right-grid {
      display: grid;
      grid-template-columns: 6.5vw 1fr;
      gap: 0;
      width: 100%;
    }

    .hero-top-right-col1 {
      display: block;
      width: 6.5vw;
    }

    .hero-bottom-right-grid {
      display: grid;
      grid-template-columns: 6.5vw 1fr;
      gap: 0;
      width: 100%;
      font-family: "Figtree";
      font-size: 0.85rem;
      line-height: 1.4;
    }

    .hero-bottom-right-col1 {
      display: block;
      width: 6.5vw;
    }

    .hero-text-content {
      width: 100%;
      font-size: 1rem;
      line-height: 1.3;
      color: var(--color-text-main);
    }

    .hero-bottom-left-text {
      width: 100%;
      max-width: 475px;
      font-size: 1rem;
      line-height: 1.3;
      color: var(--color-text-main);
      margin-top: -5.5rem;
      margin-bottom: 0;
    }

    .hero-bottom-right-grid {
      display: grid;
      grid-template-columns: 6.5vw 1fr;
      gap: 0;
      width: 100%;
      font-family: "Figtree";
      font-size: 0.85rem;
      line-height: 1.4;
    }

    .hero-bottom-right-col1 {
      width: 6.5vw;
    }

    .hero-bottom-right-col2 {
      width: 100%;
    }

    .experience-item {
      font-size: 0.85rem;
    }
  }

  @media (min-width: 1024px) {
    .project-wrap {
      grid-template-columns: repeat(2, 1fr);
      /* column-gap: var(--gutter, 2rem); */
    }

    .project-wrap > *:nth-child(even) a {
      border-left: 1.5px solid var(--color-border-secondary);
    }

    .category-label {
      width: 10rem;
      font-size: 1.5rem;
    }

    .hero-grid {
      grid-template-columns: 31vw 1fr 31vw;
      grid-template-rows: 1fr auto;
      grid-template-areas: none;
    }

    .hero-top-left,
    .hero-top-middle,
    .hero-top-right {
      grid-area: auto;
      height: 100%;
    }

    .hero-bottom-left,
    .hero-bottom-middle,
    .hero-bottom-right {
      grid-area: auto;
    }

    #hero {
      font-family: "LT Cushion";
      font-weight: 400;
      font-size: 1.2rem;
      transition: all 250ms ease-in-out;
      overflow: hidden;
      letter-spacing: 0.005rem;
    }

    .hero-top-left {
      overflow: visible;
      position: relative;
      z-index: 10;
    }

    .hero-top-left-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      padding-top: 16vh;
    }

    .hero-header-right {
      text-align: right;
      font-family: "Figtree";
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 600;
      color: var(--color-accent);
    }

    #hero-location {
      font-size: 0.9rem;
      font-weight: 350;
      color: var(--color-text-main);
      padding-bottom: 35vh;
    }

    .hero-logo-left {
      text-align: left;
      overflow: visible;
    }

    .ray-logo {
      height: 10vw;
      width: auto;
      max-width: none;
      transform-origin: left center;
    }

    .hero-profile-pic {
      width: 100%;
      height: 85vh;
      object-fit: cover;
      display: block;
      padding: 0.5rem 2rem;
    }

    .hero-top-right {
      overflow: visible;
      position: relative;
      z-index: 10;
    }

    .hero-top-right-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding-bottom: 2.5rem;
      padding-top: 0;
    }

    .hero-logo-right {
      text-align: right;
      overflow: visible;
    }

    .xia-logo {
      height: 10vw;
      width: auto;
      max-width: none;
      transform-origin: right center;
    }

    .hero-bottom-left,
    .hero-bottom-middle,
    .hero-bottom-right {
      grid-area: auto;
    }

    .hero-text-content {
      width: 100%;
      font-size: 1rem;
      line-height: 1.3;
      color: var(--color-text-main);
    }

    .hero-bottom-left-text {
      width: 100%;
      max-width: 475px;
      font-size: 1rem;
      line-height: 1.3;
      color: var(--color-text-main);
      margin-top: 0;
    }
  }

  @media (min-width: 1440px) {
    .category-label {
      width: 15rem;
    }

    #hero {
      /* padding-left: 20rem; */
    }
  }
</style>
