---
import "../styles/global.css";
---

<div class="resume-container">
  <!-- Experience -->
  <section class="mb-16">
    <h2 class="mb-3">Experience</h2>

    <!-- CMU ENAiBLE -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">Lead Product Designer</h3>
        <p class="time-location lg:text-right">
          CMU ENAiBLE &nbsp;|&nbsp; Jan - Jul 2025
        </p>
      </div>
      <ul class="space-y-5">
        <li>
          Led the design of real-time AI personalization for physical retail fashion stores, achieving 93% user adoption intent with a cursor-based prototype.
        </li>
        <li>
          Tested and validated market opportunity through 70+ hours of user interviews and concept testing, mapping user pain points to retail business goals to define ENAiBLE's partnership opportunities and future product roadmap.
        </li>
        <li>
          Secure cross-functional stakeholder buy-in by presenting compelling narratives, service blueprints, and insight-driven visual models.
        </li>
      </ul>
    </article>

    <!-- BJC -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">UX Designer</h3>
        <p class="time-location lg:text-right">
          BJC HealthCare &nbsp;|&nbsp; May 2023 - May 2024
        </p>
      </div>
      <ul class="space-y-5">
        <li>
          Led the delivery of a web application that streamlines employee shift scheduling experiences, driving 245,000+ scheduled work hours and $1.2M in operational savings within one quarter.
        </li>
        <li>
          Partnered with 3 UX Researchers to evaluate employee work satisfaction, resulting in an optimized product roadmap delivered to C-suite stakeholders.
        </li>
        <li>
          Extended BJC's design system by creating scalable UI components across platforms and surfaces, ensuring consistency and responsiveness while adhering to brand guidelines.
        </li>
        <li>
          Designed, prototyped, and tested 3 core product features that improve nurse communication, iterating in a research-informed, agile environment.
        </li>
      </ul>
    </article>

    <!-- Rulai -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">UX Designer & Engineer Intern</h3>
        <p class="time-location lg:text-right">
          Rulai, Inc. &nbsp;|&nbsp; Jun - Sep 2022
        </p>
      </div>
      <ul class="space-y-5">
        <li>
          Sole designer of a Conversational AI startup designing and developing low-code virtual assistant builder for 20+ enterprise customer service teams.
        </li>
        <li>
          Revamped the product demo system end-to-end through by analyzing user behavior, improving visual design, and building interactive demos for 60+ new platform features.
        </li>
        <li>
          Collaborated closely with Engineering and Marketing teams to create documentation that increased demo efficiency by ~40%.
        </li>
      </ul>
    </article>

    <!-- CMU PHORA -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">UX Engineer</h3>
        <p class="time-location lg:text-right">
          CMU PHORA &nbsp;|&nbsp; Jan - Apr 2025
        </p>
      </div>
      <ul class="space-y-5">
        <li>
          Designed and developed the front-end for a clinical decision support system, which uses machine learning to analyze patient risk levels and improve physician decision-making.
        </li>
        <li>
          Drove the AI-integrated treatment decision workflow, designing interfaces that display real time and historical patient data, increasing model interactivity and explainability.
        </li>
        <li>
          Improved physician-AI collaboration experience by creating informative data visualization and integrating new features seamlessly to existing workflow.
        </li>
      </ul>
    </article>
  </section>

  <!-- Academic Projects -->
  <section class="mb-16">
    <h2 class="mb-3">Academic Projects</h2>
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">
          Conversation Game for People Living with Alzheimer's
        </h3>
        <p class="time-location lg:text-right">
          Fabula(b) &nbsp;|&nbsp; Jan - Apr 2024
        </p>
      </div>
      <ul class="space-y-5">
        <li>
          Conducted market research and interviews with subject matter experts
          and family members to evaluate the effectiveness, accessibility, and
          desirability of applied Reminiscence Therapy to support the community
          of people living with Alzheimer's.
        </li>
        <li>
          Designed features and interactions from concept to high-fidelity
          prototypes of a conversation game to deliver more accessible
          Reminiscence Therapy.
        </li>
      </ul>
    </article>
  </section>

  <!-- Education -->
  <section class="mb-16">
    <h2 class="mb-3">Education</h2>
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">Carnegie Mellon University</h3>
        <p class="time-location lg:text-right">
          2024 - 2025 &nbsp;|&nbsp; Pittsburgh, PA
        </p>
      </div>
      <p class="">Master of Human-Computer Interaction</p>
      <p class="">GPA: 4.06</p>
    </article>

    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-3">
        <h3 class="text-xl font-medium mb-0">
          Washington University in St. Louis
        </h3>
        <p class="time-location lg:text-right">
          2020 - 2024 &nbsp;|&nbsp; St. Louis, MO
        </p>
      </div>
      <p class="">
        Bachelor of Fine Arts
      </p>
      <p class="">
        Communication Design Major, Minor in Computer Science
      </p>
      <p class="">GPA: 3.97/4.00</p>
    </article>
  </section>

  <!-- Skills -->
  <section class="mb-12">
    <h2 class="mb-3">Skills</h2>
    <p class="mb-3">
      User Experience Design, Product Strategy, Conversational AI Design, Human-AI Collaboration, User Interface Design and Development, Design Systems, Prototyping, Usability Testing, Visual Design, Graphic Design, Information Architecture, Qualitative & Quantitative Research, Market Research, Workflow Analysis, Data Visualization, Interpersonal Communication, Cross Functional Collaboration
    </p>
  </section>
  <section>
    <h2 class="mb-3">Tools and Languages</h2>
    <p class="">
      Figma, Axure, Illustrator, Photoshop, After Effects, Tableau, Power BI, HTML/CSS/JavaScript (React, Svelte, Astro), Firebase, Cursor, Claude AI, Azure OpenAI Studio
    </p>
  </section>
</div>

<style>
  h2 {
    /* font-family: "TT Fors"; */
    font-family: "Figtree";
    text-transform: capitalize;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
  }

  h3 {
    font-family: "LT Cushion";
    line-height: 1.1;
  }

  p {
    margin-bottom: 0;
    line-height: 1.4;
    letter-spacing: -0.02rem;
  }

  li{
    line-height: 1.4;
    letter-spacing: -0.02rem;
  }

  li::marker {
    color: var(--color-accent);
  }

  .time-location {
    font-size: 0.75rem;
    min-width: 12rem;
  }

  .resume-container {
    max-width: 32rem;
  }

  @media screen and (min-width: 768px) {
    .resume-container {
    }
  }
</style>
