---

---

<ul class="sticky text-sm px-4 hidden md:block">
    <li class="py-1"><a href="#ux">UX/UI</a></li>
    <li class="py-1"><a href="#web">Web</a></li>
    <li class="py-1"><a href="#ixd">Interaction</a></li>
</ul>

<style>
    ul {
        font-family: "TT Fors"; 
        z-index: 100;
        height: fit-content;
        top: 8rem;
    }

    a {
        display: inline-block;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    a:hover {
        color: rgba(122, 63, 63, 1);
        font-weight: 700;
    }
</style>
