---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="What nurses need to work virtually"
  projectDescription="BJC HealthCare"
  tags={["UX", "Internship", "2023-2024"]}
  detail1Title="Role"
  detail1Content={["UX Research"]}
  detail2Title="Team"
  detail2Content={[
    "Benjamin Flotken (Product Designer)",
    "Gregory Casey (Senior Product Designer)",
    "Samantha Friess (UX Researcher)",
  ]}
  detail3Title="Timeline"
  detail3Content={["12 months"]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/bjc/bjc-cover-main.jpg"
    alt="BJC Flex"
    slot="cover-img"
    width="1440"
  />

  <div class="project-content px-6" slot="content">
    <!-- Summary -->
    <section class="virtual-nursing mb-36 md:mb-48">
      <h3>evaluating technology solutions through work satisfaction</h3>
      <div>
        <p>
          As one of BJC's top new initiatives, <span class="em"
            >virtual nursing aims to allow registered nurses to work remotely</span
          >. While the organization intends to adopt virtual nursing, there have
          been comparisons and debates about the right technology solution to
          move forward with.
        </p>
        <p>
          To help the organization make the decision, my team has been tasked
          with measuring one of the key metrics — nurses' work satisfaction and
          preference — compared across multiple tech solutions during a pilot
          test.
        </p>
      </div>
    </section>

    <!-- Research Methodology -->
    <section class="virtual-nursing mb-16">
      <h3>using grounded theory to develop our questions</h3>
      <div>
        <p>
          Reviewing goal metrics and existing research, we derived some high
          level questions we're curious to learn:
          <ul>
            <li>
              How does virtual nursing <span class="em"
                >impact unit performance</span
              >, if at all?
            </li>
            <li>
              <span class="em">What issues</span> does the technology solve or fail
              to solve for nurses?
            </li>
            <li>
              How satisfied are both virtual and bedside nurses with their <span
                class="em">caregiving experience</span
              > compared to the baseline?
            </li>
          </ul>
        </p>
      </div>
    </section>

    <!-- Research Methodology Image -->
    <div class="virtual-nursing-images">
      <div class="figure-medium mx-auto mb-36 md:mb-48">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-vrn-metrics.png"
            alt="Virtual nursing key metrics and questions"
            style="aspect-ratio: 430/409; background-color: #f4f4f4;"
            loading="lazy"
          />
        </div>
        <figcaption>
          A more detail diagram of how we derived our guiding questions.
        </figcaption>
      </div>
    </div>

    <!-- Research Process -->
    <section class="virtual-nursing mb-16">
      <h3>we asked 60 nurses + 3 managers how their jobs are going</h3>
      <div>
        <p>
          To keep our research in synch with the pilot, during which each
          technology combination rolls out at a different phase, we visited the
          testing units during each phase.
        </p>
        <p>
          Knowing that nurses are always hands-on and busy in their unit, here
          are the research approaches we chose, along with how we believe they
          will help answer our questions:
          <ul>
            <li>
              <span class="em">Contextual inquiries.</span> We follow nurses as they
              work in the unit and observe how they interact with the technology.
            </li>
            <li>
              <span class="em">Interviews.</span> We gain deeper insights into unit
              performance by talking to the nurse manager of each testing unit.
            </li>
            <li>
              <span class="em">Short surveys.</span> Measuring changes in work satisfaction
              across pilot phases.
            </li>
          </ul>
        </p>
      </div>
    </section>

    <!-- Research Process Images -->
    <div class="virtual-nursing-images mb-16">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-vrn-cart.png"
            alt="Observing bedside nurses working with virtual nurses over the carts."
            loading="lazy"
            style="aspect-ratio: 864/457;"
          />
        </div>
        <figcaption>
          During the first pilot phase, I followed bedside nurses and these
          carts around in the Medical-Surgical Units to learn how bedside nurses
          collaborate with the virtual nurses.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-vrn-survey.jpg"
            alt="Virtual nursing example survey questions"
            loading="lazy"
            style="aspect-ratio: 432/451;"
          />
        </div>
        <figcaption>Survey questions asked during pilot phase 3.</figcaption>
      </div>
    </div>
    <section class="mb-36 md:mb-48">
      <div>
        <p>
          A valuable setback we later discovered was that <span class="em"
            >our survey results conflicted with qualitative insights</span
          > and caused confusion during presentations. This was because our measure
          of satisfaction didn't successfully filter out the environmental and personal
          factors that brought noises to the result, and we had a small sample group.
          In other words, if a unit was significantly busier during the time nurses
          filled out the survey, they tended to respond with a higher workload and
          lower satisfaction score, which led to recency bias and primacy bias.
        </p>
        <p>
          As a workaround, we focused on reflecting nurse satisfaction in our
          qualitative insights, and for quantitative insights, we asked nurse
          managers to obtain nurse recruitment and retention rate for their
          units, which are less subject to noise factors.
        </p>
      </div>
      <div class="tip mt-24">
        <div class="tip-header flex flex-row">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5 icon"
          >
            <path
              fill-rule="evenodd"
              d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z"
              clip-rule="evenodd"></path>
          </svg>

          <div class="tip-title">Handy Tool</div>
        </div>
        <div class="tip-body mb-6">
          My team leverages <a
            href="https://dovetail.com/"
            target="_blank"
            rel="noopener noreferrer">Dovetail</a
          > to help store recordings, organize raw research data, and make qualitative
          analysis. I found it not only helpful for user research but also transcribing
          videos for daily learning.
        </div>
        <div class="figure-small mx-auto w-full">
          <div class="img-small">
            <img
              src="/images/bjc/bjc-vrn-dovetail.jpg"
              alt="Virtual nursing example executive report"
              style="border:2px solid #f4f4f4; aspect-ratio: 2037/1287;"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Findings -->
    <section class="virtual-nursing mb-16">
      <h3>some interesting findings that stood out to us</h3>
      <div>
        <p>
          <span class="em"
            >Nurses appreciate the introduction of virtual nursing</span
          > regardless of which technology they use.
        </p>
        <p class="mb-8">
          The volume of the speaker <span class="em"
            >causes privacy concerns</span
          > because patients with hearing impairment need to turn up the volume to
          hear. Patients from other rooms sometimes can overhear their conversations.
        </p>
        <div class="mb-1">The cart technology:</div>
        <ul class="mb-8">
          <li>
            Allows <span class="em">higher-quality conversations</span> during patient
            admissions because of more stable connections.
          </li>
          <li>
            <span class="em">Detracts from continued usage</span> for its clunkiness
            and manual nature to move.
          </li>
        </ul>
        <div class="mb-1">The in-room camera technology:</div>
        <ul>
          <li>
            Enables <span class="em">more independent virtual workflows</span>,
            such as rounding and secondary skin assessments, because of the
            camera's capability to pan, tilt, and zoom.
          </li>
          <li>
            <span class="em">More accessible</span> for patients to see and interact
            with virtual nurses.
          </li>
          <li>
            Subjects to <span class="em">network issues</span> more frequently.
          </li>
        </ul>
      </div>
    </section>
    <div class="virtual-nursing-images mb-36 md:mb-48">
      <div class="figure-large mx-auto mb-8">
        <div class="img-large">
          <img
            src="/images/bjc/bjc-vrn-insights.jpg"
            alt="Virtual nursing example executive report"
            style="border:2px solid #f4f4f4; aspect-ratio: 2304/1211;"
            loading="lazy"
          />
        </div>
        <figcaption>Insight report from pilot phase 3.</figcaption>
      </div>
    </div>

    <!-- Result -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 md:grid-cols-2 mb-12"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">Monthly</div>
            <p>
              executive report to inform project stakeholders and provide
              recommendations.
            </p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">Validated*</div>
            <p>
              improvements in nurse recruitment and retention. <div
                class="note"
              >
                *As described by nurse managers from the pilot units.
              </div>
            </p>
          </div>
        </div>
        <div class="result-item">
          <div class="result-highlight">Exemplified</div>
          <p>
            by the organization as a project that advocates for a
            human-centered-design.
          </p>
        </div>
      </ul>
      <p>
        In addition, I was able to help the team build a tight relationship with
        stakeholders that had never been achieved before. I was extremely proud
        when hearing the following feedback from my project manager:
      </p>
      <p class="tip quote">
        “I know I was reluctant to have an intern on the program, but the fresh
        pair of eyes helped us start with a clean slate and get us to here. ...
        I've been impressed with Ray's skills - you do not seem like your
        typical intern!”
      </p>
    </section>

    <!-- Kudos -->
    <section class="kudos mb-36 md:mb-48">
      <h3>kudos</h3>
      <p>
        As the only intern on the Digital Design team, I felt like being
        supported by eleven bigger brothers and sisters. Every member has their
        own cool specialty and are passionate about sharing it with others. My
        experience would not be so accomplishing without learning from them.
        Kudos to everyone!
      </p>
      <div class="figure-medium mb-24">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-team.png"
            alt="Thank you to all the digital design team members"
            loading="lazy"
            style="aspect-ratio: 576/71;"
          />
        </div>
      </div>
    </section>

    <!-- Next -->
    <section class="w-full flex flex-col items-center mb-36">
      <p class="text-next-part">Continue to Rulai, Inc.</p>
      <a
        href="/projects/rulai"
        class="link-next-part flex flex-col items-center"
        id="next"
        ><p>Personalizing virtual assistant demos</p>
        <div class="icon-next-part">
          <div class="icon-next-part">
            <svg
              width="73"
              height="78"
              viewBox="0 0 73 78"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.2638 0.995601C7.44843 1.37085 8.10456 2.63539 7.7293 3.82001C3.24583 17.9738 5.63567 27.0421 9.42802 32.7725C13.2936 38.6134 18.8637 41.3612 21.3055 42.3347C21.9657 42.5979 22.6857 42.765 23.5231 42.8896C25.5789 43.1955 29.7003 43.7554 34.2279 44.0739C35.9973 44.1984 37.8007 44.2838 39.5493 44.3059C37.6504 41.7247 35.8399 39.2374 34.2276 36.9495C32.0622 33.8768 30.1936 31.08 28.8984 28.8122C28.2531 27.6822 27.7154 26.624 27.3558 25.6919C27.038 24.8679 26.6925 23.7406 26.8913 22.658C27.0076 22.0241 27.3299 21.3136 28.011 20.7931C28.66 20.297 29.3849 20.1657 29.9496 20.1582C30.9929 20.1444 32.1277 20.5449 33.1941 21.0315C35.4354 22.0542 38.6714 24.0858 43.066 27.2297C47.0895 30.1082 50.0355 32.6044 52.0505 34.7808C54.0179 36.9057 55.3241 38.9642 55.6238 40.9755C55.7815 42.0343 55.6574 43.0721 55.2147 44.0262C54.7796 44.964 54.0978 45.6905 53.3359 46.2469C51.9078 47.2896 49.9974 47.8814 48.0514 48.2391C49.6981 50.4662 51.3545 52.7142 52.9677 54.9371C56.5799 59.9143 59.9909 64.7857 62.4384 68.8571L67.6622 54.5142C68.0875 53.3466 69.3788 52.7448 70.5464 53.1701C71.714 53.5953 72.3158 54.8866 71.8905 56.0542L64.9606 75.0815C64.5353 76.2491 63.244 76.8509 62.0764 76.4256L43.0491 69.4957C41.8815 69.0704 41.2797 67.7792 41.705 66.6116C42.1302 65.4439 43.4215 64.8421 44.5891 65.2674L57.9446 70.1316C55.6977 66.5144 52.6665 62.1834 49.3258 57.5802C47.2857 54.7692 45.1338 51.8612 43.0087 48.9896C42.9537 48.9153 42.8986 48.8409 42.8436 48.7666C39.9176 48.8807 36.7954 48.7657 33.9121 48.5628C29.225 48.2331 24.9782 47.6556 22.8608 47.3406C21.8267 47.1867 20.7363 46.9522 19.639 46.5147C16.7878 45.378 10.2583 42.1809 5.67538 35.256C1.01925 28.2204 -1.38833 17.7017 3.43939 2.4611C3.81464 1.27648 5.07918 0.620349 6.2638 0.995601ZM45.0019 44.1174C45.7392 44.0465 46.4406 43.9546 47.096 43.8388C48.8703 43.5254 50.0426 43.0796 50.6822 42.6126C50.9752 42.3987 51.0873 42.2301 51.1327 42.1322C51.1705 42.0507 51.2137 41.9123 51.1729 41.6386C51.0755 40.985 50.5221 39.7536 48.7485 37.838C47.0225 35.9738 44.3463 33.6787 40.4477 30.8896C36.7606 28.2518 34.0946 26.5516 32.2604 25.5869C32.4215 25.8942 32.6032 26.2254 32.806 26.5805C33.9914 28.6559 35.7589 31.3106 37.906 34.3573C40.0282 37.3688 42.4623 40.6819 45.0019 44.1174Z"
                fill="currentColor"></path>
            </svg>
          </div>
        </div>
      </a>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  /* li::marker {
    color: #1820ed;
  }

  @media (prefers-color-scheme: dark) {
    li::marker {
      color: #6584e1;
    }
  } */

  .link-next-part {
    border-bottom: none;
  }

  @media (min-width: 768px) {
    .grid-item-row-1 {
      grid-template-columns: 3fr 1fr;
    }

    .grid-item-row-2 {
      grid-template-columns: 2fr 1fr;
    }
  }
</style>
