---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="streamliming shift scheduling for nurses"
  projectDescription="BJC HealthCare"
  tags={["UX", "Internship", "2023-2024"]}
  detail1Title="Role"
  detail1Content={["UX Design", "Usability Testing", "UX Research"]}
  detail2Title="Team"
  detail2Content={[
    "Benjamin Flotken (Product Designer)",
    "Gregory Casey (Sr. Product Designer)",
    "Michael Buffa (Sr. Product Manager)",
  ]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/bjc/bjc-cover-flex.jpg"
    alt="BJC Flex"
    slot="cover-img"
    width="1440"
  />

  <!-- Summary -->
  <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3>helping to design a fully custom-built app for nurses</h3>
      <div>
        <p>
          The volume of unpicked-up work shifts are high at BJC due to nursing
          shortage. What makes it worse is that, through our observation, open
          shift scheduling requires multiple actions, platforms, and
          back-and-forth communication between nurses and nurse managers.
        </p>
        <p>
          As one of the designers of <a
            href="https://flex.bjc.org"
            target="_blank"
            rel="noopener noreferrer">BJC Flex</a
          >, my goal is to <span class="em"
            >make open shift scheduling easier for nurses while giving them the
            agency to pick up shifts they want</span
          >, thereby incentivizing them to stay.
        </p>
      </div>
    </section>

    <!-- Communication Tool -->
    <section class="bjc-flex mb-16">
      <h3>multiple attempts to find the right way of communication</h3>
      <div>
        <p>
          One of the biggest initiatives I took in this project was to find the
          right way for nurse managers to communicate to their nurses about open
          shifts.
        </p>
        <p>
          Normally, nurse managers would call their floor nurses one by one to
          see if they would like to pick them up when open shifts appear. If
          not, they might call nurse managers from other floors to see if they
          have any extra hands.
        </p>
        <p>
          I took lead in designing and pushing forward the launch of a messaging
          tool as part of BJC Flex. The tool focuses on three things:
          <ul class="mb-8">
            <li>
              <span class="em"
                >allowing nurse managers to notify nurses efficiently</span
              > when and what shifts are available, or when there is a specific shift
              needing immediate help.
            </li>
            <li>
              <span class="em"
                >allowing nurse managers to target recipients who are more
                likely to respond yes</span
              >, especially when they know the nurses' routine better or know
              some nurses prefer working together.
            </li>
            <li>
              <span class="em">avoiding alert fatigue</span>.
            </li>
          </ul>
        </p>
      </div>
    </section>

    <!-- Communication Tool Imgaes -->
    <div
      class="image-gallery-grid mx-auto mb-36 md:mb-48 grid grid-cols-1 gap-8"
    >
      <div class="grid-item-row-1 grid grid-cols-1 gap-4">
        <div class="grid-item-col">
          <div class="gallery-image img-bg">
            <img
              src="/images/bjc/bjc-admin.jpg"
              alt="Creating a new message - full view"
              loading="lazy"
              style="aspect-ratio: 996/725;"
            />
          </div>
          <figcaption>Creating a new message - full view</figcaption>
        </div>
        <div class="grid-item-col flex flex-col md:grid grid-rows-2 gap-4">
          <div class="gallery-image md:row-start-1 md:row-span-3">
            <div class="grid-item-col">
              <img
                src="/images/bjc/bjc-admin-attach.jpg"
                alt="Messaging tool for BJC Flex"
                style="height:100%; object-fit:cover; aspect-ratio: 166/255;"
                loading="lazy"
              />
              <figcaption>Attaching shift(s) to message - modal</figcaption>
            </div>
          </div>
          <div class="gallery-image">
            <div class="grid-item-col">
              <img
                src="/images/bjc/bjc-admin-attached.jpg"
                alt="Messaging tool for BJC Flex"
                loading="lazy"
                style="aspect-ratio: 332/199;"
              />
              <figcaption>
                Remove nurses with schedule conflict from the recipients -
                detail view
              </figcaption>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item-row-2 grid grid-cols-1 gap-4">
        <div class="grid-item-col">
          <div class="gallery-image h-full">
            <img
              src="/images/bjc/bjc-admin-group.jpg"
              style="height:100%; object-fit:cover; border:2px solid #f4f4f4; aspect-ratio: 441/229;"
              alt="Messaging tool for BJC Flex"
              loading="lazy"
            />
            <figcaption>
              Customizing recipients by groups - detail view
            </figcaption>
          </div>
        </div>
        <div class="grid-item-col">
          <div class="gallery-image img-bg">
            <img
              src="/images/bjc/bjc-admin-edit.jpg"
              alt="Messaging tool for BJC Flex"
              loading="lazy"
              style="aspect-ratio: 443/462;"
            />
          </div>
          <figcaption>Editing recipient groups - modal</figcaption>
        </div>
      </div>
    </div>

    <!-- Mobile Revamp -->
    <section class="bjc-flex mb-16">
      <h3>reducing mistakenly scheduled shifts</h3>
      <div>
        <p>
          Besides working on new ideas, I also had fun improving existing
          features based on nurses' requests throughout my time at BJC. Some
          turned out to be appreciated, some didn't but helped us better learn
          the prioritization of desirability.
        </p>
        <p>
          For example, one of the successful improvement we made was to reduce
          error in mistakenly signed up shifts.
        </p>
      </div>
    </section>
    <!-- Flex mobile images -->
    <div class="flex-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-overlap.jpg"
            alt="Experimenting with UIs that prevent nurses from picking up shifts that overlap with ones they already have."
            loading="lazy"
            style="aspect-ratio: 432/337;"
          />
        </div>
        <figcaption>
          We found that errors in self-scheduling can happen when nurses don't
          realize the shift overlaps with those they've already signed up for.
          We experiment with reducing the affordability of overlapping shifts.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-night.jpg"
            alt="Experimenting with UIs that help nurses identify day shifts from night shifts faster."
            loading="lazy"
            style="aspect-ratio: 432/251;"
          />
        </div>
        <figcaption>
          After learning that overlooking the time of the day was another major
          factor of mistakenly signed up shifts, we experiment with visual cues
          that help nurses more easily identify and sort day shifts from night
          shifts.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">700,000+</div>
            <p>
              hours of extra shift picked up through BJC Flex, as of January
              2024.
            </p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">~2000</div>
            <p>average monthly active users from the caregiving teams.</p>
          </div>
        </div>
        <div class="result-item">
          <div class="result-highlight">Launched</div>
          <p>
            messaging tool into pilot phase. (I was proud of this the most!)
          </p>
        </div>
      </ul>
    </section>

    <!-- Behind the Scenes -->
    <section class="behind-the-scenes">
      <h3>behind the scenes</h3>
    </section>
    <div class="behind-the-scenes-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-office.png"
            alt="A peek inside my office building."
            loading="lazy"
            style="aspect-ratio: 27/20;"
          />
        </div>
        <figcaption>A peek inside my office building.</figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-meeting.png"
            alt="First time in a rapid improvement event with nurse managers and I led a ideatation session!"
            loading="lazy"
            style="aspect-ratio: 864/457;"
          />
        </div>
        <figcaption>
          Working with nurse managers during a rapid improvement event, and I
          led a ideatation session on reimagining float pool shift scheduling!
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-donuts.png"
            style="aspect-ratio: 864/317;"
            alt="Enticing users of BJC Flex to share feedback."
            loading="lazy"
          />
        </div>
        <figcaption>
          Enticing users of BJC Flex to share their feedback with us.
        </figcaption>
      </div>
    </div>

    <section class="w-full flex flex-col items-center mb-36">
      <p class="text-next-part">Continue to BJC HealthCare pt.2</p>
      <a
        href="/projects/bjc-virtual-nursing"
        class="link-next-part flex flex-col items-center"
        ><p>what nurses need to work virtually</p><div class="icon-next-part">
          <svg
            width="43"
            height="82"
            viewBox="0 0 43 82"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.7133 7.86888C25.2991 8.45467 26.2488 8.45467 26.8346 7.86888C27.4204 7.28309 27.4204 6.33335 26.8346 5.74756L24.7133 7.86888ZM21.6729 2.70711L20.6122 3.76777L20.6122 3.76777L21.6729 2.70711ZM20.2586 2.70711L21.3193 3.76777L21.3193 3.76777L20.2586 2.70711ZM2.70711 20.2586L3.76777 21.3193L3.76777 21.3193L2.70711 20.2586ZM2.70711 21.6729L3.76777 20.6122L3.76777 20.6122L2.70711 21.6729ZM40.2929 59.2586L41.3536 58.198L41.3536 58.198L40.2929 59.2586ZM40.2929 60.6729L39.2322 59.6122L39.2322 59.6122L40.2929 60.6729ZM19.4658 80C19.4658 80.8284 20.1373 81.5 20.9658 81.5L34.4658 81.5C35.2942 81.5 35.9658 80.8284 35.9658 80C35.9658 79.1716 35.2942 78.5 34.4658 78.5L22.4658 78.5L22.4658 66.5C22.4658 65.6716 21.7942 65 20.9658 65C20.1373 65 19.4658 65.6716 19.4658 66.5L19.4658 80ZM26.8346 5.74756L22.7335 1.64645L20.6122 3.76777L24.7133 7.86888L26.8346 5.74756ZM19.198 1.64645L1.64645 19.198L3.76777 21.3193L21.3193 3.76777L19.198 1.64645ZM1.64645 22.7335L39.2322 60.3193L41.3536 58.198L3.76777 20.6122L1.64645 22.7335ZM39.2322 59.6122L19.9051 78.9393L22.0264 81.0607L41.3536 61.7335L39.2322 59.6122ZM39.2322 60.3193C39.037 60.124 39.037 59.8075 39.2322 59.6122L41.3536 61.7335C42.3299 60.7572 42.3299 59.1743 41.3536 58.198L39.2322 60.3193ZM1.64645 19.198C0.670133 20.1743 0.670137 21.7572 1.64645 22.7335L3.76777 20.6122C3.96303 20.8075 3.96303 21.124 3.76777 21.3193L1.64645 19.198ZM22.7335 1.64645C21.7572 0.670135 20.1743 0.670136 19.198 1.64645L21.3193 3.76777C21.124 3.96303 20.8075 3.96303 20.6122 3.76777L22.7335 1.64645Z"
              fill="currentColor"></path>
          </svg>
        </div></a
      >
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  a {
    border-bottom: 2px dashed #1820ed;
  }

  li::marker {
    color: #1820ed;
  }

  .link-next-part {
    font-family: "LT Cushion";
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    border-bottom: none;
    transition: 300ms ease-out;
  }

  .link-next-part svg {
    width: 28px;
  }

  .link-next-part:hover {
    color: var(--color-text-main);
  }

  .link-next-part:hover {
    transform: translateY(4px);
  }

  @media (min-width: 768px) {
    .grid-item-row-1 {
      grid-template-columns: 13fr 4fr;
    }

    .grid-item-row-2 {
      grid-template-columns: 2fr 1fr;
    }

    .grid .gallery-image {
      height: 100%;
    }

    .grid .img-bg {
      background-color: #f4f4f4;
      align-content: center;
    }
  }
</style>
