---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="Streamliming shift scheduling for nurses"
  projectDescription="BJC HealthCare"
  summary={[
    "To combat the pressing challenge of nurse turnover and shift vacancies at BJC, I designed a platform that reduces friction in shift scheduling, filling 700,000+ hours of open shifts and saving $3.5M+ in operating expenses within a year.",
  ]}
  tags={["UX Design", "UX Research", "Internship", "2023-2024"]}
  detail1Title="Role"
  detail1Content={["UX Design", "UX Research", "Usability Testing"]}
  detail2Title="Team"
  detail2Content={[
    "Benjamin Flotken (Product Designer)",
    "Gregory Casey (Sr. Product Designer)",
    "Michael Buffa (Sr. Product Manager)",
  ]}
  detail3Title="Duration"
  detail3Content={["12 months"]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/bjc/bjc-cover-flex.jpg"
    alt="BJC Flex"
    slot="cover-img"
    loading="eager"
    style="aspect-ratio: 3300/1839;"
    width="1440"
  />

  <div class="project-content px-6" slot="content">
    <!-- Summary -->
    <section class="summary mb-36 md:mb-48">
      <h3>new, versitile, fully custom-built app for nurses</h3>
      <div>
        <p>
          Hospitals are getting high volume of unpicked-up nursing shifts, but job burnout among nurses is prevalence nonstop. I joined a <span class="em">fast-moving</span> team to tackle the problem by helping nurses find and pick up shifts they want more easily. I designed <span class="em">new piloting
          features</span> while producing production ready prototypes to <span class="em">improve existing ones</span> that scale across <span class="em">multiple platforms and user segments</span>.
        </p>
      </div>
    </section>

    <!-- Communication Tool -->
    <section class="bjc-flex mb-16">
      <h3>
        simplifying multiple actions, touchpoints, and back-and-forth
        communication
      </h3>
      <div>
        <p>
          One of the main initiatives I took in this project was to create the
          right way for nurse managers to communicate about scheduling to their
          nurses.
        </p>
        <p>
          Scheduling open shifts had been tedious and manual. Normally,
          nurse managers would call their floor nurses one by one to see if they
          would like to pick them up when open shifts appear. If not, they might
          call nurse managers from other floors to see if they have any extra
          hands.
        </p>
        <p>
          I took lead in designing and pushing forward the launch of a messaging
          tool as part of BJC Flex, with the following three core goals in
          mind:
          <ul class="mb-8">
            <li>
              <span class="em"
                >Allow nurse managers to quickly notify nurses</span
              > when and what shifts are available, or when there is an upcoming
              shift needing urgent help.
            </li>
            <li>
              <span class="em"
                >Allow nurse managers to rescope message recipients to those
                that are more likely to respond</span
              >, especially when they know the nurses' routine better or know
              some nurses prefer working together.
            </li>
            <li>
              <span class="em">Avoid alert fatigue among nurses</span>.
            </li>
          </ul>
        </p>
      </div>
    </section>

    <!-- Communication Tool Imgaes -->
    <div
      class="image-gallery-grid mx-auto mb-36 md:mb-48 grid grid-cols-1 gap-10"
    >
      <div class="grid-item-row-1 grid grid-cols-1 gap-4">
        <div class="grid-item-col">
          <div class="gallery-image img-bg">
            <img
              src="/images/bjc/bjc-admin.jpg"
              alt="Creating a new message - full view"
              loading="lazy"
              style="aspect-ratio: 996/725;"
            />
          </div>
          <figcaption>Creating a new message - full view</figcaption>
        </div>
        <div class="grid-item-col flex flex-col md:grid grid-rows-2 gap-4">
          <div class="gallery-image md:row-start-1 md:row-span-3">
            <div class="grid-item-col">
              <img
                src="/images/bjc/bjc-admin-attach.jpg"
                alt="Messaging tool for BJC Flex"
                style="height:100%; object-fit:cover; aspect-ratio: 166/255;"
                loading="lazy"
              />
              <figcaption>Attaching shift(s) to message - modal</figcaption>
            </div>
          </div>
          <div class="gallery-image">
            <div class="grid-item-col">
              <img
                src="/images/bjc/bjc-admin-attached.jpg"
                alt="Messaging tool for BJC Flex"
                loading="lazy"
                style="aspect-ratio: 332/199;"
              />
              <figcaption>
                Removing nurses with schedule conflict from the recipients -
                detail view
              </figcaption>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item-row-2 grid grid-cols-1 gap-4">
        <div class="grid-item-col">
          <div class="gallery-image h-full">
            <img
              src="/images/bjc/bjc-admin-group.jpg"
              style="height:100%; object-fit:cover; border:2px solid #f4f4f4; aspect-ratio: 441/229;"
              alt="Messaging tool for BJC Flex"
              loading="lazy"
            />
            <figcaption>
              Customizing recipients by groups - detail view
            </figcaption>
          </div>
        </div>
        <div class="grid-item-col">
          <div class="gallery-image img-bg">
            <img
              src="/images/bjc/bjc-admin-edit.jpg"
              alt="Messaging tool for BJC Flex"
              loading="lazy"
              style="aspect-ratio: 443/462;"
            />
          </div>
          <figcaption>Editing recipient groups - modal</figcaption>
        </div>
      </div>
    </div>

    <!-- Mobile Revamp -->
    <section class="bjc-flex mb-16">
      <h3>reducing mistakenly scheduled shifts</h3>
      <div>
        <p>
          Besides working on new ideas, I also had fun experimenting with
          improving existing features based on nurses' needs throughout my time
          at BJC. Some were highly appreciated, some turned out not but helped
          us better learn the prioritization of desirability.
        </p>
        <p>
          For example, one of the successful improvements we made was to reduce
          error in mistakenly signed up shifts.
        </p>
      </div>
    </section>

    <!-- Mobile Revamp Images -->
    <div class="flex-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-overlap.jpg"
            alt="Experimenting with UIs that prevent nurses from picking up shifts that overlap with ones they already have."
            loading="lazy"
            style="aspect-ratio: 432/251;"
          />
        </div>
        <figcaption>
          We found that errors in self-scheduling can happen when nurses don't
          realize the shift overlaps with those they've already signed up for.
          We experiment with reducing the affordability of overlapping shifts.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-night.jpg"
            alt="Experimenting with UIs that help nurses identify day shifts from night shifts faster."
            loading="lazy"
            style="aspect-ratio: 432/251;"
          />
        </div>
        <figcaption>
          After learning that overlooking the time of the day was another major
          factor of mistakenly signed up shifts, we experiment with visual cues
          that help nurses more easily identify and sort day shifts from night
          shifts.
        </figcaption>
      </div>
    </div>

    <!-- Behind the Scenes -->
    <section class="behind-the-scenes">
      <h3>behind the scenes</h3>
    </section>
    <div class="behind-the-scenes-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-office.png"
            alt="A peek inside my office building."
            loading="lazy"
            style="aspect-ratio: 27/20;"
          />
        </div>
        <figcaption>A peek inside my office building.</figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-meeting.png"
            alt="First time in a rapid improvement event with nurse managers and I led a ideatation session!"
            loading="lazy"
            style="aspect-ratio: 864/457;"
          />
        </div>
        <figcaption>
          Working with nurse managers during a rapid improvement event, and I
          led a ideatation session on reimagining float pool shift scheduling!
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/bjc/bjc-flex-donuts.png"
            style="aspect-ratio: 864/317;"
            alt="Enticing users of BJC Flex to share feedback."
            loading="lazy"
          />
        </div>
        <figcaption>
          Enticing users of BJC Flex to share their feedback with us.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">700,000+</div>
            <p>
              hours of extra shift picked up through BJC Flex, as of January
              2024.
            </p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">$3.5M+</div>
            <p>reduced annual operating expenses on travel nurses.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">~2000</div>
            <p>average monthly active users from the caregiving teams.</p>
          </div>
        </div>
        <div class="result-item">
          <div class="result-highlight">Launched</div>
          <p>
            messaging tool into pilot phase. (I was proud of this the most!)
          </p>
        </div>
      </ul>
    </section>

    <!-- Next -->
    <section class="w-full flex flex-col items-center mb-36">
      <p class="text-next-part">Continue to BJC HealthCare pt.2</p>
      <a
        href="/projects/bjc-virtual-nursing"
        class="link-next-part flex flex-col items-center"
        ><p>what nurses need to work virtually</p>
        <div class="icon-next-part">
          <svg
            width="73"
            height="78"
            viewBox="0 0 73 78"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.2638 0.995601C7.44843 1.37085 8.10456 2.63539 7.7293 3.82001C3.24583 17.9738 5.63567 27.0421 9.42802 32.7725C13.2936 38.6134 18.8637 41.3612 21.3055 42.3347C21.9657 42.5979 22.6857 42.765 23.5231 42.8896C25.5789 43.1955 29.7003 43.7554 34.2279 44.0739C35.9973 44.1984 37.8007 44.2838 39.5493 44.3059C37.6504 41.7247 35.8399 39.2374 34.2276 36.9495C32.0622 33.8768 30.1936 31.08 28.8984 28.8122C28.2531 27.6822 27.7154 26.624 27.3558 25.6919C27.038 24.8679 26.6925 23.7406 26.8913 22.658C27.0076 22.0241 27.3299 21.3136 28.011 20.7931C28.66 20.297 29.3849 20.1657 29.9496 20.1582C30.9929 20.1444 32.1277 20.5449 33.1941 21.0315C35.4354 22.0542 38.6714 24.0858 43.066 27.2297C47.0895 30.1082 50.0355 32.6044 52.0505 34.7808C54.0179 36.9057 55.3241 38.9642 55.6238 40.9755C55.7815 42.0343 55.6574 43.0721 55.2147 44.0262C54.7796 44.964 54.0978 45.6905 53.3359 46.2469C51.9078 47.2896 49.9974 47.8814 48.0514 48.2391C49.6981 50.4662 51.3545 52.7142 52.9677 54.9371C56.5799 59.9143 59.9909 64.7857 62.4384 68.8571L67.6622 54.5142C68.0875 53.3466 69.3788 52.7448 70.5464 53.1701C71.714 53.5953 72.3158 54.8866 71.8905 56.0542L64.9606 75.0815C64.5353 76.2491 63.244 76.8509 62.0764 76.4256L43.0491 69.4957C41.8815 69.0704 41.2797 67.7792 41.705 66.6116C42.1302 65.4439 43.4215 64.8421 44.5891 65.2674L57.9446 70.1316C55.6977 66.5144 52.6665 62.1834 49.3258 57.5802C47.2857 54.7692 45.1338 51.8612 43.0087 48.9896C42.9537 48.9153 42.8986 48.8409 42.8436 48.7666C39.9176 48.8807 36.7954 48.7657 33.9121 48.5628C29.225 48.2331 24.9782 47.6556 22.8608 47.3406C21.8267 47.1867 20.7363 46.9522 19.639 46.5147C16.7878 45.378 10.2583 42.1809 5.67538 35.256C1.01925 28.2204 -1.38833 17.7017 3.43939 2.4611C3.81464 1.27648 5.07918 0.620349 6.2638 0.995601ZM45.0019 44.1174C45.7392 44.0465 46.4406 43.9546 47.096 43.8388C48.8703 43.5254 50.0426 43.0796 50.6822 42.6126C50.9752 42.3987 51.0873 42.2301 51.1327 42.1322C51.1705 42.0507 51.2137 41.9123 51.1729 41.6386C51.0755 40.985 50.5221 39.7536 48.7485 37.838C47.0225 35.9738 44.3463 33.6787 40.4477 30.8896C36.7606 28.2518 34.0946 26.5516 32.2604 25.5869C32.4215 25.8942 32.6032 26.2254 32.806 26.5805C33.9914 28.6559 35.7589 31.3106 37.906 34.3573C40.0282 37.3688 42.4623 40.6819 45.0019 44.1174Z"
              fill="currentColor"></path>
          </svg>
        </div>
      </a>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  /* li::marker {
    color: #1820ed;
  }

  @media (prefers-color-scheme: dark) {
    li::marker {
      color: #6584e1;
    }
  } */

  .link-next-part {
    border-bottom: none;
  }

  @media (min-width: 768px) {
    .grid-item-row-1 {
      grid-template-columns: 13fr 4fr;
    }

    .grid-item-row-2 {
      grid-template-columns: 2fr 1fr;
    }

    .grid .gallery-image {
      height: 100%;
    }

    .grid .img-bg {
      background-color: #f4f4f4;
      align-content: center;
    }
  }
</style>
