---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="Pipe type"
  projectDescription="Student Project"
  summary="A modular set of characters designed with pipes, inspired by my love for pipe games."
  tags={["Academic", "2024", "Interaction Design", "Creative Coding"]}
  detail1Title="Role"
  detail1Content={["Interaction Design", "Prototyping", "Usability Testing"]}
  detail2Title="Duration"
  detail2Content={["3 weeks"]}
  detail3Title="URL"
  linksURL={["https://xiatiantian24.github.io/pipe-type"]}
  linksTitle={["github.io/pipe-type"]}
>
  <!-- Cover Image -->
  <video
    class="media-content video"
    slot="cover-img"
    autoplay
    loop
    muted
    playsinline
  >
    <source
      src="/videos/covers/pipe-cover-video.mp4"
      type="video/mp4"
      
    />
  </video>

  <!-- <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3></h3>
      <div>
        <div>
          <p>
          </p>
        </div>
      </div>
    </section>
  </div> -->
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }
</style>
