---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="Rulai, Inc."
  projectDescription="Revamping an interactive product demonstration system."
  tags={["UX", "Internship", "2022"]}
  detail1Title="Role"
  detail1Content={[
    "UX Design",
    "Solution Engineering",
    "Conversation Design",
    "Front-end Engineering",
  ]}
  detail2Title="Team"
  detail2Content={[
    "Daniel Chen (Developer)",
    "Law Black (Sales)",
    "Lawrence Yau (Product Manager)",
  ]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/rulai/rulai-cover.jpg"
    alt="Rulai Inc."
    slot="cover-img"
    width="1440"
  />

  <!-- Summary -->
  <div class="project-content px-6" slot="content">
    <section class="summary">
      <h3>Summary</h3>
      <div class="mb-24">
        <div>
          <p>
            Through the summer of 2022, I joined
            <a href="https://rul.ai/" target="_blank" rel="noopener noreferrer">
              Rulai</a
            >, a low-code AI Virtual Assistant platform, as the sole designer.
            To tackle the interests from various industries and business sizes
            in Rulai’s solution, I designed a new demo system that lets
            prospects explore the tool in their own desired way. They can ask
            about a specific use case, and interact with the Virtual Assistant
            to see corresponding features targeting that use case.
          </p>
        </div>
      </div>
    </section>

    <!-- Problem -->
    <section class="problem">
      <h4>The Problem</h4>
      <h3>Overwhelming Features</h3>
      <div class="mb-8">
        <p>
          Exploring all the Virtual Assistant’s features, I came up with the
          question of what the audience might be interested in learning the most
          to solve their problem. <span class="em"
            >With so many features, it can be difficult to draw the line between
            being impressive and being overwhelming.</span
          >
        </p>
      </div>
    </section>
    <div class="rulai-images">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-meeting.jpg"
            alt="Crash course to learn Rulai features and use cases"
            loading="lazy"
            style="aspect-ratio: 864/397;"
          />
        </div>
        <figcaption>
          While I had no previous exposure to Conversational AI, my manager and
          teammate gave me a crash course to learn all the cool functionalities
          and existing use cases of the virtual assistant.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-24">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-features.jpg"
            alt="Sorting features according to their functionality"
            loading="lazy"
            style="aspect-ratio: 864/643;"
          />
        </div>
        <figcaption>
          Sorting features according to their functionality.
        </figcaption>
      </div>
    </div>
    <section class="problem">
      <div class=" mb-24">
        <p>
          Working with the experienced Engineering team was crucial for me to
          figure out how Virtual Assistants are used across industries. For
          example, I got to study user transcripts to learn how Q&A is used
          differently by a B2B manufacturer vs a B2C retailor. Law, from the
          Sales team, also provided me with insights on the top features asked
          by Rulai’s prospects.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-24">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-industries.jpg"
            alt="Narrowing down functionalities based on industry-specific insights"
            loading="lazy"
            style="aspect-ratio: 54/29;"
          />
        </div>
        <figcaption>
          Narrowing down functionalities based on industry-specific insights. It
          was still a bit generalized, but it served a good starting place to
          list out features to be prioritized.
        </figcaption>
      </div>
    </div>

    <!-- Solution -->
    <section class="solution">
      <h4>The Solution</h4>
      <h3>Customizing the Use Cases</h3>
      <div class="mb-8">
        <p>
          I moved on with the idea of breaking the demonstration system into use
          cases like chapters. Each use case <span class="em"
            >targets one problem</span
          > that can be solved by specific features, so that the audience can <span
            class="em">explore the use cases independently</span
          > without being overwhelmed.
        </p>
        <p>
          Before pitching my idea to the organization, I needed a convincing
          prototype. I started with a fictitious retail business profile as a
          audience persona, since it would allow me to integrate the most common
          use cases according the audience interests.
        </p>
      </div>
    </section>
    <div class="rulai-images">
      <div class="figure-medium mx-auto mb-24">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-persona.jpg"
            alt="I also created an end user profile, Remi, to match the company’s profile"
            loading="lazy"
            style="aspect-ratio: 72/59;"
          />
        </div>
        <figcaption>
          To help the audience better imagine the end users interacting with
          Virtual Assistants, I also created an end user profile, Remi, to match
          the company’s profile.
        </figcaption>
      </div>
    </div>
    <section class="solution">
      <div>
        <p>To start off with an engaging use case, I crafted a scenario:</p>
        <div class="tip">
          Remi wants to get a kitchen stove for her new house. She goes on the
          website and asks the Virtual Assistant to provide her a list of stoves
          that exactly match her needs. She then browses and selects the best
          fit before she makes a purchase and schedules a delivery with the
          Virtual Assistant.
        </div>
        <p>
          Together with Daniel, the front-end developer, we implemented the
          Virtual Assistant with conversation flows highlighting the features
          designed in the first scenario. We presented a mock demo to the rest
          of the team and executives that turned out to be successful.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-24">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-workflow.jpg"
            alt="Workflow of a single use case"
            loading="lazy"
            style="aspect-ratio: 96/71;"
          />
        </div>
        <figcaption>
          Starting with a single use case, I used it matching features to come
          up with a conversation script, which inform the behavior of the
          Virtual Assistant.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-all-use-cases.jpg"
            alt="Putting multiple use cases together"
            loading="lazy"
            style="aspect-ratio: 432/253;"
          />
        </div>
        <figcaption>
          Applying the workflow of a single use case to more use cases.
        </figcaption>
      </div>
    </div>
    <section class="solution">
      <div class="mb-24">
        <p>
          While moving on to implementing the rest of the use cases, <span
            class="em"
          >
            I also found it important to go through details in the first
            scenario, giving personalities to the Virtual Assistant, expanding
            scripts for different user behaviors, and applying brand identity to
            the user interface.</span
          > I learned to pay attention to terminologies and tones I used when delivering
          the presentation.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-24">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-kani-logo.jpg"
            alt="Making the demo logo 3D"
            loading="lazy"
            style="aspect-ratio: 288/95;"
          />
        </div>
        <figcaption>
          Although it didn't end up in the final product demonstration, I had
          some fun with the branding, making the the logo popped into 3D using a
          cool tool called <a
            href="https://spline.design/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Spline</a
          >.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-web-preview.jpg"
            alt="I developed a mock website to host the demo Virtual Assistant"
            loading="lazy"
            style="aspect-ratio: 108/65;"
          />
        </div>
        <figcaption>
          As the use cases became more polished, I developed a mock website to
          host the demo Virtual Assistant. This provides a playground for
          prospects to try the tool out themselves.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result">
      <h3>The Result</h3>
      <p class="mb-8">
        While I can't provide numbers on engagement and conversion rate, here
        are some of the results compared to the benchmark metrics:
      </p>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 mb-24 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">30+</div>
            <p>newly integrated features to the demo system.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">50%</div>
            <p>more efficient product demonstration.</p>
          </div>
        </div>
      </ul>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  a {
    border-bottom: 2px dashed #5a34c3;
  }

  li::marker {
    color: #5a34c3;
  }

  .tip {
    margin-top: 2rem;
  }

  /* @media (min-width: 768px) {
    .grid-item-row-1 {
      grid-template-columns: 3fr 1fr;
    }

    .grid-item-row-2 {
      grid-template-columns: 2fr 1fr;
    }
  } */
</style>
