---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="Personalizing virtual assistant demos"
  projectDescription="Rulai, Inc."
  summary="Integrated 30+ conversational AI features into a new demo system, improving customization to win more customer and partner opportunities."
  tags={["UX", "Internship", "2022"]}
  detail1Title="Role"
  detail1Content={[
    "UX Design",
    "Conversation Design",
    "Solution Engineering",
    "Front-end Engineering",
  ]}
  detail2Title="Team"
  detail2Content={[
    "Daniel Chen (Developer)",
    "Law Black (Sales)",
    "Lawrence Yau (Product Manager)",
  ]}
  detail3Title="Timeline"
  detail3Content={["3 months"]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/rulai/rulai-cover.jpg"
    alt="Rulai Inc."
    slot="cover-img"
    width="1440"
  />

  <!-- Summary -->
  <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3>sole designer at a low code platform</h3>
      <div>
        <div>
          <p>
            <a href="https://rul.ai/" target="_blank" rel="noopener noreferrer">
              Rulai</a
            > is a low-code AI Virtual Assistant platform for businesses.
          </p>
          <p>
            Through the summer of 2022, I joined Rulai as the sole designer. To
            tackle the inquiries from businesses in various industries and
            sizes, I designed a new live demo system that allows prospects to
            explore the Virtual Assistant Studio in their own desired way. They
            can ask about a specific use case, and interact with the tool to see
            its corresponding features being built in action.
          </p>
        </div>
      </div>
    </section>

    <!-- Problem -->
    <section class="problem mb-16">
      <h3>
        it was difficult to understand audience interests without the ability to
        talk to them
      </h3>
      <div>
        <p>
          Working with so many conversational AI features, I had a problem with
          knowing which audience might be most interested in using what
          features. They may want virtual assistants to do totally different
          things, and I did not have the authority to meet Rulai's current
          customers.
        </p>
      </div>
    </section>
    <div
      class="rulai-images image-gallery-grid grid grid-cols-1 gap-y-8 gap-x-8 mb-16 md:grid-cols-2"
    >
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-meeting.jpg"
            alt="Crash course to learn Rulai features and use cases"
            loading="lazy"
            style="aspect-ratio: 864/397;"
          />
        </div>
        <figcaption>
          The team gave me a crash course on all the cool features of the
          Virtual Assistant Studio.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-features.jpg"
            alt="Sorting features according to their functionality"
            loading="lazy"
            style="aspect-ratio: 864/643;"
          />
        </div>
        <figcaption>
          Sorting features according to their functionality.
        </figcaption>
      </div>
    </div>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-industries.jpg"
            alt="A list of industries that expressed interest in the Virtual Assistant product"
            loading="lazy"
            style="aspect-ratio: 54/29;"
          />
        </div>
        <figcaption>
          Compiling a list of industries that expressed interest in the virtual
          assistant product.
        </figcaption>
      </div>
    </div>
    <section class="findings mb-36 md:mb-48">
      <div>
        <p>
          Studying user analytics and transcripts, I discovered a finding that
          first felt counterintuitive to me but later helped me determine the
          structure of the demo:
        </p>
        <ul class="mb-8">
          <li>
            <span class="em">Larger enterprises</span> tend to prioritize the ease
            of use to build virtual assistants with limited resources, thereby relying
            more complex support from Rulai.
          </li>
          <li>
            <span class="em">Modest-sized businesses</span> aim to start with more
            small-scale, straightforward solutions and get more hands-on with customization
            themselves.
          </li>
        </ul>
        <p>
          Because of Rulai's new emphasis on obtaining parterships with smaller
          businesses, I decided to prioritize targeting their needs in the demo.
        </p>
      </div>
    </section>

    <!-- Solution -->
    <section class="solution mb-16">
      <h3>cookie-cutters can work well when coming in many shapes</h3>
      <p>
        Considering the needs of simpler solutions, I thought about using a set
        list of predetermined scenarios tackling common tasks for the demo. But
        this cookie-cutter approach won't address the demand for more freedom to
        fine-tune the assistants with customers' own data.
      </p>
    </section>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-workflow.jpg"
            alt="Workflow for the scheduling a delivery use case"
            loading="lazy"
            style="aspect-ratio: 96/71;"
          />
        </div>
        <figcaption>
          For the “scheduling a delivery” use case, I integrated some of the
          most common features such as carousel display, user recognition, and
          data access and retrieval.
        </figcaption>
      </div>
    </div>

    <section class="solution mb-16">
      <p>
        So I tried another approach on top of the cookie-cutter solution:
        breaking the demo structure into multiple independednt use cases. Each
        use case will focus on <span class="em">solving one user problem</span> with
        a set of features, and audience can change up the problem and <span
          class="em">explore the process of tuning the assistant to adapt</span
        > to the new constraints.
      </p>
    </section>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-all-use-cases.jpg"
            alt="Putting multiple use cases together"
            loading="lazy"
            style="aspect-ratio: 432/253;"
          />
        </div>
        <figcaption>
          Applying other features to different uses cases, coming up with
          conversation scripts, and implementing the Virtual Assistant.
        </figcaption>
      </div>
    </div>
    <section class="solution mb-36 md:mb-48">
      <div>
        <p>
          After implementing the first use case, our team presented a mock demo
          to the rest of the teams and executives. They ended up agreeing with
          the "transformable" cookie-cutters appraoch and gave us the green
          light to work on the rest of the demo!
        </p>
      </div>
    </section>

    <section class="solution mb-16">
      <h3>little personality never killed nobody</h3>
      <div>
        <p>
          When testing the rest of the use cases, I found out that <span
            class="em"
            >taking the time to bring up the content fidelity can make demos
            much more convincing.</span
          >
          I went back to brush up details in the first use case, giving personalities
          to the Virtual Assistant, expanding scripts for different user behaviors,
          and applying brand identity to the user interface.I learned to pay attention
          to terminologies and tones I use when delivering the presentation.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-kani-logo.jpg"
            alt="Making the demo logo 3D"
            loading="lazy"
            style="aspect-ratio: 288/95;"
          />
        </div>
        <figcaption>
          Although it didn't end up in the final product demonstration, I had
          some fun experimenting with branding the demo bot, making the the logo
          popped into 3D using a cool tool called <a
            href="https://spline.design/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Spline</a
          >.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-web-preview.jpg"
            alt="I developed a mock website to host the demo Virtual Assistant"
            loading="lazy"
            style="aspect-ratio: 108/65;"
          />
        </div>
        <figcaption>
          As the use cases became more polished, I developed a mock website to
          host the demo Virtual Assistant. This provides a playground for
          prospects to interact with the tool themselves.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 mb-24 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">30+</div>
            <p>newly integrated features to the demo system.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">1st</div>
            <p>demo with presenter documentation at Rulai.</p>
          </div>
        </div>
      </ul>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  /* li::marker {
    color: #5a34c3;
  }

  @media (prefers-color-scheme: dark) {

    li::marker {
      color: #6584e1;
    }
  } */

  .tip {
    margin-top: 2rem;
  }

  @media (min-width: 768px) {
    .grid .img-medium {
      height: 100%;
    }

    .grid .img-bg {
      background-color: #f4f4f4;
      align-content: center;
    }
  }
</style>
