---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="personalizing virtual assistant demos"
  projectDescription="Rulai, Inc."
  tags={["UX", "Internship", "2022"]}
  detail1Title="Role"
  detail1Content={[
    "UX Design",
    "Solution Design",
    "Conversation Design",
    "Front-end Engineering",
  ]}
  detail2Title="Team"
  detail2Content={[
    "Daniel Chen (Developer)",
    "Law Black (Sales)",
    "Lawrence Yau (Product Manager)",
  ]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/rulai/rulai-cover.jpg"
    alt="Rulai Inc."
    slot="cover-img"
    width="1440"
  />

  <!-- Summary -->
  <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3>sole designer at a low code platform</h3>
      <div>
        <div>
          <p>
            <a href="https://rul.ai/" target="_blank" rel="noopener noreferrer">
              Rulai</a
            > is a low-code AI Virtual Assistant platform for businesses.
          </p>
          <p>
            Through the summer of 2022, I joined Rulai as the sole designer. To
            tackle the inquiries from businesses in various industries and
            sizes, I designed a new demo system that allows prospects to explore
            the Virtual Assistant Studio in their own desired way. They can ask
            about a specific use case, and interact with the tool to see
            corresponding features targeting that use case.
          </p>
        </div>
      </div>
    </section>

    <!-- Problem -->
    <section class="problem mb-16">
      <h3>
        it was difficult to understand audience interests without the ability to
        talk to them
      </h3>
      <div>
        <p>
          Working with so many conversational AI features, I had a problem with
          knowing which audience might be most interested in using what
          features. They may want the Virtual Assistant to do different things,
          and I did not have the authority to meet Rulai’s current customers.
        </p>
      </div>
    </section>
    <div
      class="rulai-images image-gallery-grid grid grid-cols-1 gap-y-8 gap-x-8 mb-16 md:grid-cols-2"
    >
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-meeting.jpg"
            alt="Crash course to learn Rulai features and use cases"
            loading="lazy"
            style="aspect-ratio: 864/397;"
          />
        </div>
        <figcaption>
          The team gave me a crash course on all the cool functionalities of the
          Virtual Assistant Studio.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-features.jpg"
            alt="Sorting features according to their functionality"
            loading="lazy"
            style="aspect-ratio: 864/643;"
          />
        </div>
        <figcaption>
          I sorted the features according to their functionality.
        </figcaption>
      </div>
    </div>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-industries.jpg"
            alt="S list of industries that expressed interest in the Virtual Assistant product"
            loading="lazy"
            style="aspect-ratio: 54/29;"
          />
        </div>
        <figcaption>
          Studying user analytics and transcripts, I compiled a list of
          industries that expressed interest in the Virtual Assistant product.
        </figcaption>
      </div>
    </div>
    <section class="findings mb-36 md:mb-48">
      <div>
        <p>
          An interesting insight I found out was that, regardless of industry:
        </p>
        <ul class="mb-8">
          <li>
            <span class="em">larger companies</span> tend to prioritize the Virtual
            Assistant's ease of use with limited resources.
          </li>
          <li>
            <span class="em">more modest-sized businesses</span> aim to be more hands-on
            and demand less from the Rulai team.
          </li>
        </ul>
        <p>
          Therefore, larger companies often want more complex support that are
          not cookie-cutter solutions.
        </p>
      </div>
    </section>

    <!-- Solution -->
    <section class="solution">
      <h3>cookie-cutters can work well when coming in many shapes</h3>
      <div class="mb-16">
        <p>
          With Rulai’s new emphasis on smaller businesses, I decided the new
          demo to be cookie-cutter-based (i.e., solutions that can tackle common
          tasks). However, different audience interest would still be a problem.
        </p>
        <p>
          After tapping into my product manager’s expertise, I determined to
          break the demo system into use cases like chapters. Each use case <span
            class="em">solves one problem</span
          >with a set of specific features, and audience can customize their demo to  <span
          class="em">explore use cases independently in any order.</span
          >, depending on their priority.
        </p>
      </div>
    </section>
    <div class="rulai-images">
      <div class="figure-medium mx-auto mb-16">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-persona.jpg"
            alt="I also created an end user profile, Remi, to match the company’s profile"
            loading="lazy"
            style="aspect-ratio: 72/59;"
          />
        </div>
        <figcaption>
          To help the audience better imagine the end users interacting with
          Virtual Assistants, I also created an end user profile, Remi, to match
          the company’s profile.
        </figcaption>
      </div>
    </div>
    <section class="solution mb-16">
      <div>
        <p>
          Our team implemented the first common use case, scheduling a delivery,
          into the demo Virtual Assistant. We presented a mock demo to the rest
          of the team and executives, who ended up giving us the green light!
        </p>
      </div>
    </section>
    <div class="rulai-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-workflow.jpg"
            alt="Workflow for the scheduling a delivery use case"
            loading="lazy"
            style="aspect-ratio: 96/71;"
          />
        </div>
        <figcaption>
          For the “scheduling a delivery” use case, I integrated some of the
          most common features such as carousel display, user recognition, and
          data access and retrieval.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-all-use-cases.jpg"
            alt="Putting multiple use cases together"
            loading="lazy"
            style="aspect-ratio: 432/253;"
          />
        </div>
        <figcaption>
          Applying other features to different uses cases, coming up with
          conversation scripts, and implementing the Virtual Assistant.
        </figcaption>
      </div>
    </div>
    <section class="solution mb-16">
      <h3>little personality never killed nobody</h3>
      <div>
        <p>
          When testing the rest of the use cases, I found out that <span
            class="em"
            >taking the time to bring up the content fidelity can make demos
            much more convincing.</span
          >
          I went back to brush up details in the first use case, giving personalities
          to the Virtual Assistant, expanding scripts for different user behaviors,
          and applying brand identity to the user interface.I learned to pay attention
          to terminologies and tones I use when delivering the presentation.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-kani-logo.jpg"
            alt="Making the demo logo 3D"
            loading="lazy"
            style="aspect-ratio: 288/95;"
          />
        </div>
        <figcaption>
          Although it didn't end up in the final product demonstration, I had
          some fun experimenting with branding the demo bot, making the the logo
          popped into 3D using a cool tool called <a
            href="https://spline.design/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Spline</a
          >.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-web-preview.jpg"
            alt="I developed a mock website to host the demo Virtual Assistant"
            loading="lazy"
            style="aspect-ratio: 108/65;"
          />
        </div>
        <figcaption>
          As the use cases became more polished, I developed a mock website to
          host the demo Virtual Assistant. This provides a playground for
          prospects to interact with the tool themselves.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <p>Here are some of the results compared to the benchmark metrics:</p>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 mb-24 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">30+</div>
            <p>newly integrated features to the demo system.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">50%</div>
            <p>more efficient product demonstration.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">1st</div>
            <p>demo with presenter documentation at Rulai.</p>
          </div>
        </div>
      </ul>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  a {
    border-bottom: 2px dashed #5a34c3;
  }

  li::marker {
    color: #5a34c3;
  }

  .tip {
    margin-top: 2rem;
  }

  @media (min-width: 768px) {
    .grid .img-medium {
      height: 100%;
    }

    .grid .img-bg {
      background-color: #f4f4f4;
      align-content: center;
    }
  }
</style>
