---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="Personalizing virtual assistant demos"
  projectDescription="Rulai, Inc."
  summary={["Integrated 60+ conversational AI features into a new demo system, improving customization to win more customer and partner opportunities."]}
  tags={["UX", "Internship", "2022"]}
  detail1Title="Role"
  detail1Content={[
    "UX Design",
    "Conversation Design",
    "Solution Engineering",
    "Front-end Engineering",
  ]}
  detail2Title="Team"
  detail2Content={[
    "Daniel Chen (Developer)",
    "Law Black (Sales)",
    "Lawrence Yau (Product Manager)",
  ]}
  detail3Title="Duration"
  detail3Content={["3 months"]}
>
  <!-- Cover Image -->
  <img
    class="cover-img mx-auto"
    src="/images/rulai/rulai-cover.jpg"
    alt="Rulai Inc."
    slot="cover-img"
    width="1440"
  />

  <!-- Summary -->
  <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3>sole designer at a low code platform</h3>
      <div>
        <div>
          <p>
            <a href="https://rul.ai/" target="_blank" rel="noopener noreferrer">
              Rulai</a
            > is a low-code AI Virtual Assistant platform for businesses.
          </p>
          <p>
            Through the summer of 2022, I joined Rulai as the sole designer. To
            tackle the inquiries from businesses in various industries and
            sizes, I designed a new live demo system that allows prospects to
            explore the Virtual Assistant Studio in their own desired way. They
            can ask about a specific use case, and interact with the tool to see
            its corresponding features being built in action.
          </p>
        </div>
      </div>
    </section>

    <!-- Problem -->
    <section class="problem mb-16">
      <h3>
        it was difficult to understand audience interests without the ability to
        talk to them
      </h3>
      <div>
        <p>
          Working with so many conversational AI features, I had a problem with
          knowing which audience might be most interested in using what
          features. They may want virtual assistants to do totally different
          things, and I did not have the authority to meet Rulai's current
          customers.
        </p>
      </div>
    </section>
    <div
      class="rulai-images image-gallery-grid grid grid-cols-1 gap-y-8 gap-x-8 mb-16 md:grid-cols-2"
    >
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-meeting.jpg"
            alt="Crash course to learn Rulai features and use cases"
            loading="lazy"
            style="aspect-ratio: 864/397;"
          />
        </div>
        <figcaption>
          The team gave me a crash course on all the cool features of the
          Virtual Assistant Studio.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto">
        <div class="img-medium img-bg">
          <img
            src="/images/rulai/rulai-features.jpg"
            alt="Sorting features according to their functionality"
            loading="lazy"
            style="aspect-ratio: 864/643;"
          />
        </div>
        <figcaption>
          Sorting features according to their functionality.
        </figcaption>
      </div>
    </div>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-industries.jpg"
            alt="A list of industries that expressed interest in the Virtual Assistant product"
            loading="lazy"
            style="aspect-ratio: 54/29;"
          />
        </div>
        <figcaption>
          Compiling a list of industries that expressed interest in the virtual
          assistant product.
        </figcaption>
      </div>
    </div>
    <section class="findings mb-36 md:mb-48">
      <div>
        <p>
          Studying user analytics and transcripts, I discovered a finding that
          first felt counterintuitive to me but later helped me determine the
          structure of the demo:
        </p>
        <ul class="mb-8">
          <li>
            <span class="em">Larger enterprises</span> tend to prioritize the ease
            of use to build virtual assistants with limited resources, thereby relying
            more complex support from Rulai.
          </li>
          <li>
            <span class="em">Modest-sized businesses</span> aim to start with more
            small-scale, straightforward solutions and get more hands-on with customization
            themselves.
          </li>
        </ul>
        <p>
          Because of Rulai's new emphasis on obtaining parterships with smaller
          businesses, I decided to prioritize targeting their needs in the demo.
        </p>
      </div>
    </section>

    <!-- Solution -->
    <section class="solution mb-16">
      <h3>cookie-cutters can work well when coming in many shapes</h3>
      <p>
        Considering the needs of simpler solutions, I thought about using a set
        list of predetermined scenarios tackling common tasks for the demo. But
        this cookie-cutter approach won't address the demand for more freedom to
        fine-tune the assistants with customers' own data.
      </p>
    </section>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-workflow.jpg"
            alt="Workflow for the scheduling a delivery use case"
            loading="lazy"
            style="aspect-ratio: 96/71;"
          />
        </div>
        <figcaption>
          For the “scheduling a delivery” use case, I integrated some of the
          most common features such as carousel display, user recognition, and
          data access and retrieval.
        </figcaption>
      </div>
    </div>

    <section class="solution mb-16">
      <p>
        So I tried another approach on top of the cookie-cutter solution:
        breaking the demo structure into multiple independednt use cases. Each
        use case will focus on <span class="em">solving one user problem</span> with
        a set of features, and audience can change up the problem and <span
          class="em">explore the process of tuning the assistant to adapt</span
        > to the new constraints.
      </p>
    </section>
    <div class="rulai-images mb-16">
      <div class="figure-medium mx-auto">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-all-use-cases.jpg"
            alt="Putting multiple use cases together"
            loading="lazy"
            style="aspect-ratio: 432/253;"
          />
        </div>
        <figcaption>
          Applying other features to different uses cases, coming up with
          conversation scripts, and implementing the Virtual Assistant.
        </figcaption>
      </div>
    </div>
    <section class="solution mb-36 md:mb-48">
      <div>
        <p>
          After implementing the first use case, our team presented a mock demo
          to the rest of the teams and executives. They ended up agreeing with
          the "transformable" cookie-cutters appraoch and gave us the green
          light to work on the rest of the demo!
        </p>
      </div>
    </section>

    <section class="solution mb-16">
      <h3>little personality never killed nobody</h3>
      <div>
        <p>
          When testing the rest of the use cases, I found out that <span
            class="em"
            >taking the time to bring up the content fidelity can make demos
            much more convincing.</span
          >
          I went back to brush up details in the first use case, giving personalities
          to the Virtual Assistant, expanding scripts for different user behaviors,
          and applying brand identity to the user interface.I learned to pay attention
          to terminologies and tones I use when delivering the presentation.
        </p>
      </div>
    </section>
    <div class="rulai-images mb-36 md:mb-48">
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-kani-logo.jpg"
            alt="Making the demo logo 3D"
            loading="lazy"
            style="aspect-ratio: 288/95;"
          />
        </div>
        <figcaption>
          Although it didn't end up in the final product demonstration, I had
          some fun experimenting with branding the demo bot, making the the logo
          popped into 3D using a cool tool called <a
            href="https://spline.design/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Spline</a
          >.
        </figcaption>
      </div>
      <div class="figure-medium mx-auto mb-8">
        <div class="img-medium">
          <img
            src="/images/rulai/rulai-web-preview.jpg"
            alt="I developed a mock website to host the demo Virtual Assistant"
            loading="lazy"
            style="aspect-ratio: 108/65;"
          />
        </div>
        <figcaption>
          As the use cases became more polished, I developed a mock website to
          host the demo Virtual Assistant. This provides a playground for
          prospects to interact with the tool themselves.
        </figcaption>
      </div>
    </div>

    <!-- Result  -->
    <section class="result mb-36 md:mb-48">
      <h3>the result</h3>
      <ul
        class="text-gallery grid grid-cols-1 gap-x-20 gap-y-4 md:gap-y-12 mb-24 md:grid-cols-2"
      >
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">60+</div>
            <p>integrated features to the demo system.</p>
          </div>
        </div>
        <div class="text-gallery-item">
          <div class="result-item">
            <div class="result-highlight">1st</div>
            <p>demo with presenter documentation at Rulai.</p>
          </div>
        </div>
      </ul>
    </section>

    <!-- Next -->
    <section class="w-full flex flex-col items-center mb-36">
      <p class="text-next-part">Continue to B.F.A. Capstone Project</p>
      <a
        href="/projects/the-path"
        class="link-next-part flex flex-col items-center"
        id="next"
        ><p>The Path</p>
        <div class="icon-next-part">
          <div class="icon-next-part">
            <svg
              width="73"
              height="78"
              viewBox="0 0 73 78"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.2638 0.995601C7.44843 1.37085 8.10456 2.63539 7.7293 3.82001C3.24583 17.9738 5.63567 27.0421 9.42802 32.7725C13.2936 38.6134 18.8637 41.3612 21.3055 42.3347C21.9657 42.5979 22.6857 42.765 23.5231 42.8896C25.5789 43.1955 29.7003 43.7554 34.2279 44.0739C35.9973 44.1984 37.8007 44.2838 39.5493 44.3059C37.6504 41.7247 35.8399 39.2374 34.2276 36.9495C32.0622 33.8768 30.1936 31.08 28.8984 28.8122C28.2531 27.6822 27.7154 26.624 27.3558 25.6919C27.038 24.8679 26.6925 23.7406 26.8913 22.658C27.0076 22.0241 27.3299 21.3136 28.011 20.7931C28.66 20.297 29.3849 20.1657 29.9496 20.1582C30.9929 20.1444 32.1277 20.5449 33.1941 21.0315C35.4354 22.0542 38.6714 24.0858 43.066 27.2297C47.0895 30.1082 50.0355 32.6044 52.0505 34.7808C54.0179 36.9057 55.3241 38.9642 55.6238 40.9755C55.7815 42.0343 55.6574 43.0721 55.2147 44.0262C54.7796 44.964 54.0978 45.6905 53.3359 46.2469C51.9078 47.2896 49.9974 47.8814 48.0514 48.2391C49.6981 50.4662 51.3545 52.7142 52.9677 54.9371C56.5799 59.9143 59.9909 64.7857 62.4384 68.8571L67.6622 54.5142C68.0875 53.3466 69.3788 52.7448 70.5464 53.1701C71.714 53.5953 72.3158 54.8866 71.8905 56.0542L64.9606 75.0815C64.5353 76.2491 63.244 76.8509 62.0764 76.4256L43.0491 69.4957C41.8815 69.0704 41.2797 67.7792 41.705 66.6116C42.1302 65.4439 43.4215 64.8421 44.5891 65.2674L57.9446 70.1316C55.6977 66.5144 52.6665 62.1834 49.3258 57.5802C47.2857 54.7692 45.1338 51.8612 43.0087 48.9896C42.9537 48.9153 42.8986 48.8409 42.8436 48.7666C39.9176 48.8807 36.7954 48.7657 33.9121 48.5628C29.225 48.2331 24.9782 47.6556 22.8608 47.3406C21.8267 47.1867 20.7363 46.9522 19.639 46.5147C16.7878 45.378 10.2583 42.1809 5.67538 35.256C1.01925 28.2204 -1.38833 17.7017 3.43939 2.4611C3.81464 1.27648 5.07918 0.620349 6.2638 0.995601ZM45.0019 44.1174C45.7392 44.0465 46.4406 43.9546 47.096 43.8388C48.8703 43.5254 50.0426 43.0796 50.6822 42.6126C50.9752 42.3987 51.0873 42.2301 51.1327 42.1322C51.1705 42.0507 51.2137 41.9123 51.1729 41.6386C51.0755 40.985 50.5221 39.7536 48.7485 37.838C47.0225 35.9738 44.3463 33.6787 40.4477 30.8896C36.7606 28.2518 34.0946 26.5516 32.2604 25.5869C32.4215 25.8942 32.6032 26.2254 32.806 26.5805C33.9914 28.6559 35.7589 31.3106 37.906 34.3573C40.0282 37.3688 42.4623 40.6819 45.0019 44.1174Z"
                fill="currentColor"></path>
            </svg>
          </div>
        </div>
      </a>
    </section>
  </div>
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }

  /* li::marker {
    color: #5a34c3;
  }

  @media (prefers-color-scheme: dark) {

    li::marker {
      color: #6584e1;
    }
  } */

  .tip {
    margin-top: 2rem;
  }
  
  .link-next-part {
    border-bottom: none;
  }

  @media (min-width: 768px) {
    .grid .img-medium {
      height: 100%;
    }

    .grid .img-bg {
      background-color: #f4f4f4;
      align-content: center;
    }
  }
</style>
