---
import "../../styles/global.css";
import "../../styles/project.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout
  projectTitle="The path"
  projectDescription="B.F.A Capstone"
  summary="A casual conversation game adapted from reminiscence therapy to unlock memories and joy, for people living with Alzheimer's and their loved ones."
  tags={["Academic", "2024", "UX Design", "Interaction Design", "UX Research"]}
  detail1Title="Role"
  detail1Content={["User Research","Interaction Design", "Prototyping", "Usability Testing"]}
  detail2Title="Duration"
  detail2Content={["3 months"]}
  detail3Title="URL"
  linksURL={["https://www.figma.com/proto/Qo1C9vDyuSEahOMrAkZ3nH/The-Path---24SP-(For-Submission)?page-id=1040%3A621&node-id=3425-16138&p=f&viewport=-2651%2C-15813%2C0.29&t=J3iV1DqUsoEl0gQY-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=3419%3A16011&show-proto-sidebar=1"]}
  linksTitle={["Figma Prototype"]}
>
  <!-- Cover Image -->
  <video
    class="media-content video"
    slot="cover-img"
    autoplay
    loop
    muted
    playsinline
  >
    <source src="/videos/covers/the-path-cover-video.mp4" type="video/mp4" />
  </video>

  <!-- <div class="project-content px-6" slot="content">
    <section class="summary mb-36 md:mb-48">
      <h3></h3>
      <div>
        <div>
          <p>
          </p>
        </div>
      </div>
    </section>
  </div> -->
</ProjectLayout>

<style>
  body,
  nav {
    background-color: #fff;
  }
</style>
